{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsfeedbackclass</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="bid" class="am-u-sm-12 am-form-label am-text-left">bid            <span class="tpl-form-line-small-title">bid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.bid)"}{$enewsfeedbackclass.bid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="bid" name="bid" 
	placeholder="请输入bid">        </div>
    </div>
        <div class="am-form-group">
        <label for="bname" class="am-u-sm-12 am-form-label am-text-left">bname            <span class="tpl-form-line-small-title">bname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.bname)"}{$enewsfeedbackclass.bname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="bname" name="bname" 
	placeholder="请输入bname">        </div>
    </div>
        <div class="am-form-group">
        <label for="btemp" class="am-u-sm-12 am-form-label am-text-left">btemp            <span class="tpl-form-line-small-title">btemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.btemp)"}{$enewsfeedbackclass.btemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="btemp" name="btemp" 
	placeholder="请输入btemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="bzs" class="am-u-sm-12 am-form-label am-text-left">bzs            <span class="tpl-form-line-small-title">bzs</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.bzs)"}{$enewsfeedbackclass.bzs}{/if}"
	class="tpl-form-input am-margin-top-xs" id="bzs" name="bzs" 
	placeholder="请输入bzs">        </div>
    </div>
        <div class="am-form-group">
        <label for="enter" class="am-u-sm-12 am-form-label am-text-left">enter            <span class="tpl-form-line-small-title">enter</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.enter)"}{$enewsfeedbackclass.enter}{/if}"
	class="tpl-form-input am-margin-top-xs" id="enter" name="enter" 
	placeholder="请输入enter">        </div>
    </div>
        <div class="am-form-group">
        <label for="mustenter" class="am-u-sm-12 am-form-label am-text-left">mustenter            <span class="tpl-form-line-small-title">mustenter</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.mustenter)"}{$enewsfeedbackclass.mustenter}{/if}"
	class="tpl-form-input am-margin-top-xs" id="mustenter" name="mustenter" 
	placeholder="请输入mustenter">        </div>
    </div>
        <div class="am-form-group">
        <label for="filef" class="am-u-sm-12 am-form-label am-text-left">filef            <span class="tpl-form-line-small-title">filef</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.filef)"}{$enewsfeedbackclass.filef}{/if}"
	class="tpl-form-input am-margin-top-xs" id="filef" name="filef" 
	placeholder="请输入filef">        </div>
    </div>
        <div class="am-form-group">
        <label for="groupid" class="am-u-sm-12 am-form-label am-text-left">groupid            <span class="tpl-form-line-small-title">groupid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.groupid)"}{$enewsfeedbackclass.groupid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="groupid" name="groupid" 
	placeholder="请输入groupid">        </div>
    </div>
        <div class="am-form-group">
        <label for="checkboxf" class="am-u-sm-12 am-form-label am-text-left">checkboxf            <span class="tpl-form-line-small-title">checkboxf</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.checkboxf)"}{$enewsfeedbackclass.checkboxf}{/if}"
	class="tpl-form-input am-margin-top-xs" id="checkboxf" name="checkboxf" 
	placeholder="请输入checkboxf">        </div>
    </div>
        <div class="am-form-group">
        <label for="usernames" class="am-u-sm-12 am-form-label am-text-left">usernames            <span class="tpl-form-line-small-title">usernames</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedbackclass.usernames)"}{$enewsfeedbackclass.usernames}{/if}"
	class="tpl-form-input am-margin-top-xs" id="usernames" name="usernames" 
	placeholder="请输入usernames">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}