{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_enewsfava</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="favaid" class="am-u-sm-12 am-form-label am-text-left">favaid            <span class="tpl-form-line-small-title">favaid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfava.favaid)"}{$enewsfava.favaid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="favaid" name="favaid" 
	placeholder="请输入favaid">        </div>
    </div>
        <div class="am-form-group">
        <label for="favatime" class="am-u-sm-12 am-form-label am-text-left">favatime            <span class="tpl-form-line-small-title">favatime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfava.favatime)"}{$enewsfava.favatime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="favatime" name="favatime" 
	placeholder="请输入favatime">        </div>
    </div>
        <div class="am-form-group">
        <label for="userid" class="am-u-sm-12 am-form-label am-text-left">userid            <span class="tpl-form-line-small-title">userid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfava.userid)"}{$enewsfava.userid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userid" name="userid" 
	placeholder="请输入userid">        </div>
    </div>
        <div class="am-form-group">
        <label for="username" class="am-u-sm-12 am-form-label am-text-left">username            <span class="tpl-form-line-small-title">username</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfava.username)"}{$enewsfava.username}{/if}"
	class="tpl-form-input am-margin-top-xs" id="username" name="username" 
	placeholder="请输入username">        </div>
    </div>
        <div class="am-form-group">
        <label for="classid" class="am-u-sm-12 am-form-label am-text-left">classid            <span class="tpl-form-line-small-title">classid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfava.classid)"}{$enewsfava.classid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="classid" name="classid" 
	placeholder="请输入classid">        </div>
    </div>
        <div class="am-form-group">
        <label for="cid" class="am-u-sm-12 am-form-label am-text-left">cid            <span class="tpl-form-line-small-title">cid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfava.cid)"}{$enewsfava.cid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cid" name="cid" 
	placeholder="请输入cid">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}