{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsbuybak</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <input type="hidden" name="id" value="{$enewsbuybak.id}"/>
        <div class="am-form-group">
        <label for="username" class="am-u-sm-12 am-form-label am-text-left">username            <span class="tpl-form-line-small-title">username</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsbuybak.username)"}{$enewsbuybak.username}{/if}"
	class="tpl-form-input am-margin-top-xs" id="username" name="username" 
	placeholder="请输入username">        </div>
    </div>
        <div class="am-form-group">
        <label for="card_no" class="am-u-sm-12 am-form-label am-text-left">card_no            <span class="tpl-form-line-small-title">card_no</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsbuybak.card_no)"}{$enewsbuybak.card_no}{/if}"
	class="tpl-form-input am-margin-top-xs" id="card_no" name="card_no" 
	placeholder="请输入card_no">        </div>
    </div>
        <div class="am-form-group">
        <label for="buytime" class="am-u-sm-12 am-form-label am-text-left">buytime            <span class="tpl-form-line-small-title">buytime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsbuybak.buytime)"}{$enewsbuybak.buytime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="buytime" name="buytime" 
	placeholder="请输入buytime">        </div>
    </div>
        <div class="am-form-group">
        <label for="cardfen" class="am-u-sm-12 am-form-label am-text-left">cardfen            <span class="tpl-form-line-small-title">cardfen</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsbuybak.cardfen)"}{$enewsbuybak.cardfen}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cardfen" name="cardfen" 
	placeholder="请输入cardfen">        </div>
    </div>
        <div class="am-form-group">
        <label for="money" class="am-u-sm-12 am-form-label am-text-left">money            <span class="tpl-form-line-small-title">money</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsbuybak.money)"}{$enewsbuybak.money}{/if}"
	class="tpl-form-input am-margin-top-xs" id="money" name="money" 
	placeholder="请输入money">        </div>
    </div>
        <div class="am-form-group">
        <label for="userid" class="am-u-sm-12 am-form-label am-text-left">userid            <span class="tpl-form-line-small-title">userid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsbuybak.userid)"}{$enewsbuybak.userid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userid" name="userid" 
	placeholder="请输入userid">        </div>
    </div>
        <div class="am-form-group">
        <label for="userdate" class="am-u-sm-12 am-form-label am-text-left">userdate            <span class="tpl-form-line-small-title">userdate</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsbuybak.userdate)"}{$enewsbuybak.userdate}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userdate" name="userdate" 
	placeholder="请输入userdate">        </div>
    </div>
        <div class="am-form-group">
        <label for="type" class="am-u-sm-12 am-form-label am-text-left">type            <span class="tpl-form-line-small-title">type</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsbuybak.type)"}{$enewsbuybak.type}{/if}"
	class="tpl-form-input am-margin-top-xs" id="type" name="type" 
	placeholder="请输入type">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}