{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsplf</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="fid" class="am-u-sm-12 am-form-label am-text-left">fid            <span class="tpl-form-line-small-title">fid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsplf.fid)"}{$enewsplf.fid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fid" name="fid" 
	placeholder="请输入fid">        </div>
    </div>
        <div class="am-form-group">
        <label for="f" class="am-u-sm-12 am-form-label am-text-left">f            <span class="tpl-form-line-small-title">f</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsplf.f)"}{$enewsplf.f}{/if}"
	class="tpl-form-input am-margin-top-xs" id="f" name="f" 
	placeholder="请输入f">        </div>
    </div>
        <div class="am-form-group">
        <label for="fname" class="am-u-sm-12 am-form-label am-text-left">fname            <span class="tpl-form-line-small-title">fname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsplf.fname)"}{$enewsplf.fname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fname" name="fname" 
	placeholder="请输入fname">        </div>
    </div>
        <div class="am-form-group">
        <label for="fzs" class="am-u-sm-12 am-form-label am-text-left">fzs            <span class="tpl-form-line-small-title">fzs</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsplf.fzs)"}{$enewsplf.fzs}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fzs" name="fzs" 
	placeholder="请输入fzs">        </div>
    </div>
        <div class="am-form-group">
        <label for="ftype" class="am-u-sm-12 am-form-label am-text-left">ftype            <span class="tpl-form-line-small-title">ftype</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsplf.ftype)"}{$enewsplf.ftype}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ftype" name="ftype" 
	placeholder="请输入ftype">        </div>
    </div>
        <div class="am-form-group">
        <label for="flen" class="am-u-sm-12 am-form-label am-text-left">flen            <span class="tpl-form-line-small-title">flen</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsplf.flen)"}{$enewsplf.flen}{/if}"
	class="tpl-form-input am-margin-top-xs" id="flen" name="flen" 
	placeholder="请输入flen">        </div>
    </div>
        <div class="am-form-group">
        <label for="ismust" class="am-u-sm-12 am-form-label am-text-left">ismust            <span class="tpl-form-line-small-title">ismust</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsplf.ismust)"}{$enewsplf.ismust}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ismust" name="ismust" 
	placeholder="请输入ismust">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}