{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑im_msg</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <input type="hidden" name="id" value="{$msg.id}"/>
        <div class="am-form-group">
        <label for="client_id" class="am-u-sm-12 am-form-label am-text-left">client_id            <span class="tpl-form-line-small-title">client_id</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.client_id)"}{$msg.client_id}{/if}"
	class="tpl-form-input am-margin-top-xs" id="client_id" name="client_id" 
	placeholder="请输入client_id">        </div>
    </div>
        <div class="am-form-group">
        <label for="staff_id" class="am-u-sm-12 am-form-label am-text-left">staff_id            <span class="tpl-form-line-small-title">staff_id</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.staff_id)"}{$msg.staff_id}{/if}"
	class="tpl-form-input am-margin-top-xs" id="staff_id" name="staff_id" 
	placeholder="请输入staff_id">        </div>
    </div>
        <div class="am-form-group">
        <label for="content" class="am-u-sm-12 am-form-label am-text-left">content            <span class="tpl-form-line-small-title">content</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.content)"}{$msg.content}{/if}"
	class="tpl-form-input am-margin-top-xs" id="content" name="content" 
	placeholder="请输入content">        </div>
    </div>
        <div class="am-form-group">
        <label for="send_type" class="am-u-sm-12 am-form-label am-text-left">send_type            <span class="tpl-form-line-small-title">send_type</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.send_type)"}{$msg.send_type}{/if}"
	class="tpl-form-input am-margin-top-xs" id="send_type" name="send_type" 
	placeholder="请输入send_type">        </div>
    </div>
        <div class="am-form-group">
        <label for="s_get" class="am-u-sm-12 am-form-label am-text-left">s_get            <span class="tpl-form-line-small-title">s_get</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.s_get)"}{$msg.s_get}{/if}"
	class="tpl-form-input am-margin-top-xs" id="s_get" name="s_get" 
	placeholder="请输入s_get">        </div>
    </div>
        <div class="am-form-group">
        <label for="c_get" class="am-u-sm-12 am-form-label am-text-left">c_get            <span class="tpl-form-line-small-title">c_get</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.c_get)"}{$msg.c_get}{/if}"
	class="tpl-form-input am-margin-top-xs" id="c_get" name="c_get" 
	placeholder="请输入c_get">        </div>
    </div>
        <div class="am-form-group">
        <label for="s_read" class="am-u-sm-12 am-form-label am-text-left">s_read            <span class="tpl-form-line-small-title">s_read</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.s_read)"}{$msg.s_read}{/if}"
	class="tpl-form-input am-margin-top-xs" id="s_read" name="s_read" 
	placeholder="请输入s_read">        </div>
    </div>
        <div class="am-form-group">
        <label for="c_read" class="am-u-sm-12 am-form-label am-text-left">c_read            <span class="tpl-form-line-small-title">c_read</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.c_read)"}{$msg.c_read}{/if}"
	class="tpl-form-input am-margin-top-xs" id="c_read" name="c_read" 
	placeholder="请输入c_read">        </div>
    </div>
        <div class="am-form-group">
        <label for="create_time" class="am-u-sm-12 am-form-label am-text-left">create_time            <span class="tpl-form-line-small-title">create_time</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.create_time)"}{$msg.create_time}{/if}"
	class="tpl-form-input am-margin-top-xs" id="create_time" name="create_time" 
	placeholder="请输入create_time">        </div>
    </div>
        <div class="am-form-group">
        <label for="update_time" class="am-u-sm-12 am-form-label am-text-left">update_time            <span class="tpl-form-line-small-title">update_time</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($msg.update_time)"}{$msg.update_time}{/if}"
	class="tpl-form-input am-margin-top-xs" id="update_time" name="update_time" 
	placeholder="请输入update_time">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}