{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_enewstags</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="tagid" class="am-u-sm-12 am-form-label am-text-left">tagid            <span class="tpl-form-line-small-title">tagid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.tagid)"}{$enewstags.tagid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tagid" name="tagid" 
	placeholder="请输入tagid">        </div>
    </div>
        <div class="am-form-group">
        <label for="tagname" class="am-u-sm-12 am-form-label am-text-left">tagname            <span class="tpl-form-line-small-title">tagname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.tagname)"}{$enewstags.tagname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tagname" name="tagname" 
	placeholder="请输入tagname">        </div>
    </div>
        <div class="am-form-group">
        <label for="num" class="am-u-sm-12 am-form-label am-text-left">num            <span class="tpl-form-line-small-title">num</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.num)"}{$enewstags.num}{/if}"
	class="tpl-form-input am-margin-top-xs" id="num" name="num" 
	placeholder="请输入num">        </div>
    </div>
        <div class="am-form-group">
        <label for="isgood" class="am-u-sm-12 am-form-label am-text-left">isgood            <span class="tpl-form-line-small-title">isgood</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.isgood)"}{$enewstags.isgood}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isgood" name="isgood" 
	placeholder="请输入isgood">        </div>
    </div>
        <div class="am-form-group">
        <label for="cid" class="am-u-sm-12 am-form-label am-text-left">cid            <span class="tpl-form-line-small-title">cid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.cid)"}{$enewstags.cid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cid" name="cid" 
	placeholder="请输入cid">        </div>
    </div>
        <div class="am-form-group">
        <label for="tagtitle" class="am-u-sm-12 am-form-label am-text-left">tagtitle            <span class="tpl-form-line-small-title">tagtitle</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.tagtitle)"}{$enewstags.tagtitle}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tagtitle" name="tagtitle" 
	placeholder="请输入tagtitle">        </div>
    </div>
        <div class="am-form-group">
        <label for="tagkey" class="am-u-sm-12 am-form-label am-text-left">tagkey            <span class="tpl-form-line-small-title">tagkey</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.tagkey)"}{$enewstags.tagkey}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tagkey" name="tagkey" 
	placeholder="请输入tagkey">        </div>
    </div>
        <div class="am-form-group">
        <label for="tagdes" class="am-u-sm-12 am-form-label am-text-left">tagdes            <span class="tpl-form-line-small-title">tagdes</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.tagdes)"}{$enewstags.tagdes}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tagdes" name="tagdes" 
	placeholder="请输入tagdes">        </div>
    </div>
        <div class="am-form-group">
        <label for="fclast" class="am-u-sm-12 am-form-label am-text-left">fclast            <span class="tpl-form-line-small-title">fclast</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewstags.fclast)"}{$enewstags.fclast}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fclast" name="fclast" 
	placeholder="请输入fclast">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}