{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">管理enewsclass_stats</div>
                    </div>
                    <div class="widget-body  am-fr">
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
        <div class="am-form-group">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default am-btn-success"
                       href="{:url('enewsclass_stats/add')}">
                        <span class="am-icon-plus"></span> 新增
                    </a>
                    <!--
                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
            <thead>
            <tr>
                                <th>classid</th>
                                <th>uptime</th>
                                <th>pvall</th>
                                <th>pvyear</th>
                                <th>pvhalfyear</th>
                                <th>pvquarter</th>
                                <th>pvmonth</th>
                                <th>pvweek</th>
                                <th>pvday</th>
                                <th>pvyesterday</th>
                                <th>ipall</th>
                                <th>ipyear</th>
                                <th>iphalfyear</th>
                                <th>ipquarter</th>
                                <th>ipmonth</th>
                                <th>ipweek</th>
                                <th>ipday</th>
                                <th>ipyesterday</th>
                                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="enewsclass_statsList" id="vo"}
            <tr class="gradeX">
                                <td>{$vo.classid}</td>
                                <td>{$vo.uptime}</td>
                                <td>{$vo.pvall}</td>
                                <td>{$vo.pvyear}</td>
                                <td>{$vo.pvhalfyear}</td>
                                <td>{$vo.pvquarter}</td>
                                <td>{$vo.pvmonth}</td>
                                <td>{$vo.pvweek}</td>
                                <td>{$vo.pvday}</td>
                                <td>{$vo.pvyesterday}</td>
                                <td>{$vo.ipall}</td>
                                <td>{$vo.ipyear}</td>
                                <td>{$vo.iphalfyear}</td>
                                <td>{$vo.ipquarter}</td>
                                <td>{$vo.ipmonth}</td>
                                <td>{$vo.ipweek}</td>
                                <td>{$vo.ipday}</td>
                                <td>{$vo.ipyesterday}</td>
                                <td>
                    <div class="tpl-table-black-operation">
                        <a href="{:url('enewsclass_stats/edit', ['id'=>$vo['id']])}">
                            <i class="am-icon-pencil"></i> 编辑
                        </a>
                        <a href="{:url('enewsclass_stats/delete', ['id'=>$vo['id']])}"
                           onclick='return confirm("确定删除吗？")' class="tpl-table-black-operation-del">
                            <i class="am-icon-trash"></i> 删除
                        </a>
                    </div>
                </td>
            </tr>
            {/volist}
            <!-- more data -->
            </tbody>
        </table>
    </div>
    <div class="am-u-lg-12 am-cf">

        <div class="am-fr">
            <ul class="am-pagination tpl-pagination">
                {$enewsclass_statsList->render()}
            </ul>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}