{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_ecms_infotmp_news</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="classid" class="am-u-sm-12 am-form-label am-text-left">classid            <span class="tpl-form-line-small-title">classid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.classid)"}{$ecms_infotmp_news.classid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="classid" name="classid" 
	placeholder="请输入classid">        </div>
    </div>
        <div class="am-form-group">
        <label for="oldurl" class="am-u-sm-12 am-form-label am-text-left">oldurl            <span class="tpl-form-line-small-title">oldurl</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.oldurl)"}{$ecms_infotmp_news.oldurl}{/if}"
	class="tpl-form-input am-margin-top-xs" id="oldurl" name="oldurl" 
	placeholder="请输入oldurl">        </div>
    </div>
        <div class="am-form-group">
        <label for="checked" class="am-u-sm-12 am-form-label am-text-left">checked            <span class="tpl-form-line-small-title">checked</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.checked)"}{$ecms_infotmp_news.checked}{/if}"
	class="tpl-form-input am-margin-top-xs" id="checked" name="checked" 
	placeholder="请输入checked">        </div>
    </div>
        <div class="am-form-group">
        <label for="tmptime" class="am-u-sm-12 am-form-label am-text-left">tmptime            <span class="tpl-form-line-small-title">tmptime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.tmptime)"}{$ecms_infotmp_news.tmptime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tmptime" name="tmptime" 
	placeholder="请输入tmptime">        </div>
    </div>
        <div class="am-form-group">
        <label for="userid" class="am-u-sm-12 am-form-label am-text-left">userid            <span class="tpl-form-line-small-title">userid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.userid)"}{$ecms_infotmp_news.userid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userid" name="userid" 
	placeholder="请输入userid">        </div>
    </div>
        <div class="am-form-group">
        <label for="username" class="am-u-sm-12 am-form-label am-text-left">username            <span class="tpl-form-line-small-title">username</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.username)"}{$ecms_infotmp_news.username}{/if}"
	class="tpl-form-input am-margin-top-xs" id="username" name="username" 
	placeholder="请输入username">        </div>
    </div>
        <div class="am-form-group">
        <label for="truetime" class="am-u-sm-12 am-form-label am-text-left">truetime            <span class="tpl-form-line-small-title">truetime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.truetime)"}{$ecms_infotmp_news.truetime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="truetime" name="truetime" 
	placeholder="请输入truetime">        </div>
    </div>
        <div class="am-form-group">
        <label for="keyboard" class="am-u-sm-12 am-form-label am-text-left">keyboard            <span class="tpl-form-line-small-title">keyboard</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.keyboard)"}{$ecms_infotmp_news.keyboard}{/if}"
	class="tpl-form-input am-margin-top-xs" id="keyboard" name="keyboard" 
	placeholder="请输入keyboard">        </div>
    </div>
        <div class="am-form-group">
        <label for="title" class="am-u-sm-12 am-form-label am-text-left">title            <span class="tpl-form-line-small-title">title</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.title)"}{$ecms_infotmp_news.title}{/if}"
	class="tpl-form-input am-margin-top-xs" id="title" name="title" 
	placeholder="请输入title">        </div>
    </div>
        <div class="am-form-group">
        <label for="newstime" class="am-u-sm-12 am-form-label am-text-left">newstime            <span class="tpl-form-line-small-title">newstime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.newstime)"}{$ecms_infotmp_news.newstime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="newstime" name="newstime" 
	placeholder="请输入newstime">        </div>
    </div>
        <div class="am-form-group">
        <label for="titlepic" class="am-u-sm-12 am-form-label am-text-left">titlepic            <span class="tpl-form-line-small-title">titlepic</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.titlepic)"}{$ecms_infotmp_news.titlepic}{/if}"
	class="tpl-form-input am-margin-top-xs" id="titlepic" name="titlepic" 
	placeholder="请输入titlepic">        </div>
    </div>
        <div class="am-form-group">
        <label for="ftitle" class="am-u-sm-12 am-form-label am-text-left">ftitle            <span class="tpl-form-line-small-title">ftitle</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.ftitle)"}{$ecms_infotmp_news.ftitle}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ftitle" name="ftitle" 
	placeholder="请输入ftitle">        </div>
    </div>
        <div class="am-form-group">
        <label for="smalltext" class="am-u-sm-12 am-form-label am-text-left">smalltext            <span class="tpl-form-line-small-title">smalltext</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.smalltext)"}{$ecms_infotmp_news.smalltext}{/if}"
	class="tpl-form-input am-margin-top-xs" id="smalltext" name="smalltext" 
	placeholder="请输入smalltext">        </div>
    </div>
        <div class="am-form-group">
        <label for="writer" class="am-u-sm-12 am-form-label am-text-left">writer            <span class="tpl-form-line-small-title">writer</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.writer)"}{$ecms_infotmp_news.writer}{/if}"
	class="tpl-form-input am-margin-top-xs" id="writer" name="writer" 
	placeholder="请输入writer">        </div>
    </div>
        <div class="am-form-group">
        <label for="befrom" class="am-u-sm-12 am-form-label am-text-left">befrom            <span class="tpl-form-line-small-title">befrom</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.befrom)"}{$ecms_infotmp_news.befrom}{/if}"
	class="tpl-form-input am-margin-top-xs" id="befrom" name="befrom" 
	placeholder="请输入befrom">        </div>
    </div>
        <div class="am-form-group">
        <label for="newstext" class="am-u-sm-12 am-form-label am-text-left">newstext            <span class="tpl-form-line-small-title">newstext</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.newstext)"}{$ecms_infotmp_news.newstext}{/if}"
	class="tpl-form-input am-margin-top-xs" id="newstext" name="newstext" 
	placeholder="请输入newstext">        </div>
    </div>
        <div class="am-form-group">
        <label for="diggtop" class="am-u-sm-12 am-form-label am-text-left">diggtop            <span class="tpl-form-line-small-title">diggtop</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_news.diggtop)"}{$ecms_infotmp_news.diggtop}{/if}"
	class="tpl-form-input am-margin-top-xs" id="diggtop" name="diggtop" 
	placeholder="请输入diggtop">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}