{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">管理ecms_infoclass_flash</div>
                    </div>
                    <div class="widget-body  am-fr">
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
        <div class="am-form-group">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default am-btn-success"
                       href="{:url('ecms_infoclass_flash/add')}">
                        <span class="am-icon-plus"></span> 新增
                    </a>
                    <!--
                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
            <thead>
            <tr>
                                <th>classid</th>
                                <th>zz_title</th>
                                <th>z_title</th>
                                <th>qz_title</th>
                                <th>save_title</th>
                                <th>zz_titlepic</th>
                                <th>z_titlepic</th>
                                <th>qz_titlepic</th>
                                <th>save_titlepic</th>
                                <th>zz_newstime</th>
                                <th>z_newstime</th>
                                <th>qz_newstime</th>
                                <th>save_newstime</th>
                                <th>zz_flashwriter</th>
                                <th>z_flashwriter</th>
                                <th>qz_flashwriter</th>
                                <th>save_flashwriter</th>
                                <th>zz_email</th>
                                <th>z_email</th>
                                <th>qz_email</th>
                                <th>save_email</th>
                                <th>zz_star</th>
                                <th>z_star</th>
                                <th>qz_star</th>
                                <th>save_star</th>
                                <th>zz_filesize</th>
                                <th>z_filesize</th>
                                <th>qz_filesize</th>
                                <th>save_filesize</th>
                                <th>zz_flashurl</th>
                                <th>z_flashurl</th>
                                <th>qz_flashurl</th>
                                <th>save_flashurl</th>
                                <th>zz_width</th>
                                <th>z_width</th>
                                <th>qz_width</th>
                                <th>save_width</th>
                                <th>zz_height</th>
                                <th>z_height</th>
                                <th>qz_height</th>
                                <th>save_height</th>
                                <th>zz_flashsay</th>
                                <th>z_flashsay</th>
                                <th>qz_flashsay</th>
                                <th>save_flashsay</th>
                                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="ecms_infoclass_flashList" id="vo"}
            <tr class="gradeX">
                                <td>{$vo.classid}</td>
                                <td>{$vo.zz_title}</td>
                                <td>{$vo.z_title}</td>
                                <td>{$vo.qz_title}</td>
                                <td>{$vo.save_title}</td>
                                <td>{$vo.zz_titlepic}</td>
                                <td>{$vo.z_titlepic}</td>
                                <td>{$vo.qz_titlepic}</td>
                                <td>{$vo.save_titlepic}</td>
                                <td>{$vo.zz_newstime}</td>
                                <td>{$vo.z_newstime}</td>
                                <td>{$vo.qz_newstime}</td>
                                <td>{$vo.save_newstime}</td>
                                <td>{$vo.zz_flashwriter}</td>
                                <td>{$vo.z_flashwriter}</td>
                                <td>{$vo.qz_flashwriter}</td>
                                <td>{$vo.save_flashwriter}</td>
                                <td>{$vo.zz_email}</td>
                                <td>{$vo.z_email}</td>
                                <td>{$vo.qz_email}</td>
                                <td>{$vo.save_email}</td>
                                <td>{$vo.zz_star}</td>
                                <td>{$vo.z_star}</td>
                                <td>{$vo.qz_star}</td>
                                <td>{$vo.save_star}</td>
                                <td>{$vo.zz_filesize}</td>
                                <td>{$vo.z_filesize}</td>
                                <td>{$vo.qz_filesize}</td>
                                <td>{$vo.save_filesize}</td>
                                <td>{$vo.zz_flashurl}</td>
                                <td>{$vo.z_flashurl}</td>
                                <td>{$vo.qz_flashurl}</td>
                                <td>{$vo.save_flashurl}</td>
                                <td>{$vo.zz_width}</td>
                                <td>{$vo.z_width}</td>
                                <td>{$vo.qz_width}</td>
                                <td>{$vo.save_width}</td>
                                <td>{$vo.zz_height}</td>
                                <td>{$vo.z_height}</td>
                                <td>{$vo.qz_height}</td>
                                <td>{$vo.save_height}</td>
                                <td>{$vo.zz_flashsay}</td>
                                <td>{$vo.z_flashsay}</td>
                                <td>{$vo.qz_flashsay}</td>
                                <td>{$vo.save_flashsay}</td>
                                <td>
                    <div class="tpl-table-black-operation">
                        <a href="{:url('ecms_infoclass_flash/edit', ['id'=>$vo['id']])}">
                            <i class="am-icon-pencil"></i> 编辑
                        </a>
                        <a href="{:url('ecms_infoclass_flash/delete', ['id'=>$vo['id']])}"
                           onclick='return confirm("确定删除吗？")' class="tpl-table-black-operation-del">
                            <i class="am-icon-trash"></i> 删除
                        </a>
                    </div>
                </td>
            </tr>
            {/volist}
            <!-- more data -->
            </tbody>
        </table>
    </div>
    <div class="am-u-lg-12 am-cf">

        <div class="am-fr">
            <ul class="am-pagination tpl-pagination">
                {$ecms_infoclass_flashList->render()}
            </ul>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}