{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_enewswords</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="wordid" class="am-u-sm-12 am-form-label am-text-left">wordid            <span class="tpl-form-line-small-title">wordid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewswords.wordid)"}{$enewswords.wordid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="wordid" name="wordid" 
	placeholder="请输入wordid">        </div>
    </div>
        <div class="am-form-group">
        <label for="oldword" class="am-u-sm-12 am-form-label am-text-left">oldword            <span class="tpl-form-line-small-title">oldword</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewswords.oldword)"}{$enewswords.oldword}{/if}"
	class="tpl-form-input am-margin-top-xs" id="oldword" name="oldword" 
	placeholder="请输入oldword">        </div>
    </div>
        <div class="am-form-group">
        <label for="newword" class="am-u-sm-12 am-form-label am-text-left">newword            <span class="tpl-form-line-small-title">newword</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewswords.newword)"}{$enewswords.newword}{/if}"
	class="tpl-form-input am-margin-top-xs" id="newword" name="newword" 
	placeholder="请输入newword">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}