{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_enewsfeedback</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="bid" class="am-u-sm-12 am-form-label am-text-left">bid            <span class="tpl-form-line-small-title">bid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.bid)"}{$enewsfeedback.bid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="bid" name="bid" 
	placeholder="请输入bid">        </div>
    </div>
        <div class="am-form-group">
        <label for="title" class="am-u-sm-12 am-form-label am-text-left">title            <span class="tpl-form-line-small-title">title</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.title)"}{$enewsfeedback.title}{/if}"
	class="tpl-form-input am-margin-top-xs" id="title" name="title" 
	placeholder="请输入title">        </div>
    </div>
        <div class="am-form-group">
        <label for="saytext" class="am-u-sm-12 am-form-label am-text-left">saytext            <span class="tpl-form-line-small-title">saytext</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.saytext)"}{$enewsfeedback.saytext}{/if}"
	class="tpl-form-input am-margin-top-xs" id="saytext" name="saytext" 
	placeholder="请输入saytext">        </div>
    </div>
        <div class="am-form-group">
        <label for="name" class="am-u-sm-12 am-form-label am-text-left">name            <span class="tpl-form-line-small-title">name</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.name)"}{$enewsfeedback.name}{/if}"
	class="tpl-form-input am-margin-top-xs" id="name" name="name" 
	placeholder="请输入name">        </div>
    </div>
        <div class="am-form-group">
        <label for="email" class="am-u-sm-12 am-form-label am-text-left">email            <span class="tpl-form-line-small-title">email</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.email)"}{$enewsfeedback.email}{/if}"
	class="tpl-form-input am-margin-top-xs" id="email" name="email" 
	placeholder="请输入email">        </div>
    </div>
        <div class="am-form-group">
        <label for="mycall" class="am-u-sm-12 am-form-label am-text-left">mycall            <span class="tpl-form-line-small-title">mycall</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.mycall)"}{$enewsfeedback.mycall}{/if}"
	class="tpl-form-input am-margin-top-xs" id="mycall" name="mycall" 
	placeholder="请输入mycall">        </div>
    </div>
        <div class="am-form-group">
        <label for="homepage" class="am-u-sm-12 am-form-label am-text-left">homepage            <span class="tpl-form-line-small-title">homepage</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.homepage)"}{$enewsfeedback.homepage}{/if}"
	class="tpl-form-input am-margin-top-xs" id="homepage" name="homepage" 
	placeholder="请输入homepage">        </div>
    </div>
        <div class="am-form-group">
        <label for="company" class="am-u-sm-12 am-form-label am-text-left">company            <span class="tpl-form-line-small-title">company</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.company)"}{$enewsfeedback.company}{/if}"
	class="tpl-form-input am-margin-top-xs" id="company" name="company" 
	placeholder="请输入company">        </div>
    </div>
        <div class="am-form-group">
        <label for="address" class="am-u-sm-12 am-form-label am-text-left">address            <span class="tpl-form-line-small-title">address</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.address)"}{$enewsfeedback.address}{/if}"
	class="tpl-form-input am-margin-top-xs" id="address" name="address" 
	placeholder="请输入address">        </div>
    </div>
        <div class="am-form-group">
        <label for="saytime" class="am-u-sm-12 am-form-label am-text-left">saytime            <span class="tpl-form-line-small-title">saytime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.saytime)"}{$enewsfeedback.saytime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="saytime" name="saytime" 
	placeholder="请输入saytime">        </div>
    </div>
        <div class="am-form-group">
        <label for="job" class="am-u-sm-12 am-form-label am-text-left">job            <span class="tpl-form-line-small-title">job</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.job)"}{$enewsfeedback.job}{/if}"
	class="tpl-form-input am-margin-top-xs" id="job" name="job" 
	placeholder="请输入job">        </div>
    </div>
        <div class="am-form-group">
        <label for="ip" class="am-u-sm-12 am-form-label am-text-left">ip            <span class="tpl-form-line-small-title">ip</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.ip)"}{$enewsfeedback.ip}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ip" name="ip" 
	placeholder="请输入ip">        </div>
    </div>
        <div class="am-form-group">
        <label for="filepath" class="am-u-sm-12 am-form-label am-text-left">filepath            <span class="tpl-form-line-small-title">filepath</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.filepath)"}{$enewsfeedback.filepath}{/if}"
	class="tpl-form-input am-margin-top-xs" id="filepath" name="filepath" 
	placeholder="请输入filepath">        </div>
    </div>
        <div class="am-form-group">
        <label for="filename" class="am-u-sm-12 am-form-label am-text-left">filename            <span class="tpl-form-line-small-title">filename</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.filename)"}{$enewsfeedback.filename}{/if}"
	class="tpl-form-input am-margin-top-xs" id="filename" name="filename" 
	placeholder="请输入filename">        </div>
    </div>
        <div class="am-form-group">
        <label for="userid" class="am-u-sm-12 am-form-label am-text-left">userid            <span class="tpl-form-line-small-title">userid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.userid)"}{$enewsfeedback.userid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userid" name="userid" 
	placeholder="请输入userid">        </div>
    </div>
        <div class="am-form-group">
        <label for="username" class="am-u-sm-12 am-form-label am-text-left">username            <span class="tpl-form-line-small-title">username</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.username)"}{$enewsfeedback.username}{/if}"
	class="tpl-form-input am-margin-top-xs" id="username" name="username" 
	placeholder="请输入username">        </div>
    </div>
        <div class="am-form-group">
        <label for="haveread" class="am-u-sm-12 am-form-label am-text-left">haveread            <span class="tpl-form-line-small-title">haveread</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.haveread)"}{$enewsfeedback.haveread}{/if}"
	class="tpl-form-input am-margin-top-xs" id="haveread" name="haveread" 
	placeholder="请输入haveread">        </div>
    </div>
        <div class="am-form-group">
        <label for="eipport" class="am-u-sm-12 am-form-label am-text-left">eipport            <span class="tpl-form-line-small-title">eipport</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsfeedback.eipport)"}{$enewsfeedback.eipport}{/if}"
	class="tpl-form-input am-margin-top-xs" id="eipport" name="eipport" 
	placeholder="请输入eipport">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}