{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">管理enewsinfotype</div>
                    </div>
                    <div class="widget-body  am-fr">
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
        <div class="am-form-group">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default am-btn-success"
                       href="{:url('enewsinfotype/add')}">
                        <span class="am-icon-plus"></span> 新增
                    </a>
                    <!--
                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
            <thead>
            <tr>
                                <th>typeid</th>
                                <th>tname</th>
                                <th>mid</th>
                                <th>myorder</th>
                                <th>yhid</th>
                                <th>tnum</th>
                                <th>listtempid</th>
                                <th>tpath</th>
                                <th>ttype</th>
                                <th>maxnum</th>
                                <th>reorder</th>
                                <th>tid</th>
                                <th>tbname</th>
                                <th>timg</th>
                                <th>intro</th>
                                <th>pagekey</th>
                                <th>newline</th>
                                <th>hotline</th>
                                <th>goodline</th>
                                <th>hotplline</th>
                                <th>firstline</th>
                                <th>jstempid</th>
                                <th>nrejs</th>
                                <th>listdt</th>
                                <th>repagenum</th>
                                <th>fclast</th>
                                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="enewsinfotypeList" id="vo"}
            <tr class="gradeX">
                                <td>{$vo.typeid}</td>
                                <td>{$vo.tname}</td>
                                <td>{$vo.mid}</td>
                                <td>{$vo.myorder}</td>
                                <td>{$vo.yhid}</td>
                                <td>{$vo.tnum}</td>
                                <td>{$vo.listtempid}</td>
                                <td>{$vo.tpath}</td>
                                <td>{$vo.ttype}</td>
                                <td>{$vo.maxnum}</td>
                                <td>{$vo.reorder}</td>
                                <td>{$vo.tid}</td>
                                <td>{$vo.tbname}</td>
                                <td>{$vo.timg}</td>
                                <td>{$vo.intro}</td>
                                <td>{$vo.pagekey}</td>
                                <td>{$vo.newline}</td>
                                <td>{$vo.hotline}</td>
                                <td>{$vo.goodline}</td>
                                <td>{$vo.hotplline}</td>
                                <td>{$vo.firstline}</td>
                                <td>{$vo.jstempid}</td>
                                <td>{$vo.nrejs}</td>
                                <td>{$vo.listdt}</td>
                                <td>{$vo.repagenum}</td>
                                <td>{$vo.fclast}</td>
                                <td>
                    <div class="tpl-table-black-operation">
                        <a href="{:url('enewsinfotype/edit', ['id'=>$vo['id']])}">
                            <i class="am-icon-pencil"></i> 编辑
                        </a>
                        <a href="{:url('enewsinfotype/delete', ['id'=>$vo['id']])}"
                           onclick='return confirm("确定删除吗？")' class="tpl-table-black-operation-del">
                            <i class="am-icon-trash"></i> 删除
                        </a>
                    </div>
                </td>
            </tr>
            {/volist}
            <!-- more data -->
            </tbody>
        </table>
    </div>
    <div class="am-u-lg-12 am-cf">

        <div class="am-fr">
            <ul class="am-pagination tpl-pagination">
                {$enewsinfotypeList->render()}
            </ul>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}