{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsshop_address</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="addressid" class="am-u-sm-12 am-form-label am-text-left">addressid            <span class="tpl-form-line-small-title">addressid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.addressid)"}{$enewsshop_address.addressid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="addressid" name="addressid" 
	placeholder="请输入addressid">        </div>
    </div>
        <div class="am-form-group">
        <label for="addressname" class="am-u-sm-12 am-form-label am-text-left">addressname            <span class="tpl-form-line-small-title">addressname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.addressname)"}{$enewsshop_address.addressname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="addressname" name="addressname" 
	placeholder="请输入addressname">        </div>
    </div>
        <div class="am-form-group">
        <label for="userid" class="am-u-sm-12 am-form-label am-text-left">userid            <span class="tpl-form-line-small-title">userid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.userid)"}{$enewsshop_address.userid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userid" name="userid" 
	placeholder="请输入userid">        </div>
    </div>
        <div class="am-form-group">
        <label for="truename" class="am-u-sm-12 am-form-label am-text-left">truename            <span class="tpl-form-line-small-title">truename</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.truename)"}{$enewsshop_address.truename}{/if}"
	class="tpl-form-input am-margin-top-xs" id="truename" name="truename" 
	placeholder="请输入truename">        </div>
    </div>
        <div class="am-form-group">
        <label for="oicq" class="am-u-sm-12 am-form-label am-text-left">oicq            <span class="tpl-form-line-small-title">oicq</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.oicq)"}{$enewsshop_address.oicq}{/if}"
	class="tpl-form-input am-margin-top-xs" id="oicq" name="oicq" 
	placeholder="请输入oicq">        </div>
    </div>
        <div class="am-form-group">
        <label for="msn" class="am-u-sm-12 am-form-label am-text-left">msn            <span class="tpl-form-line-small-title">msn</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.msn)"}{$enewsshop_address.msn}{/if}"
	class="tpl-form-input am-margin-top-xs" id="msn" name="msn" 
	placeholder="请输入msn">        </div>
    </div>
        <div class="am-form-group">
        <label for="email" class="am-u-sm-12 am-form-label am-text-left">email            <span class="tpl-form-line-small-title">email</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.email)"}{$enewsshop_address.email}{/if}"
	class="tpl-form-input am-margin-top-xs" id="email" name="email" 
	placeholder="请输入email">        </div>
    </div>
        <div class="am-form-group">
        <label for="address" class="am-u-sm-12 am-form-label am-text-left">address            <span class="tpl-form-line-small-title">address</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.address)"}{$enewsshop_address.address}{/if}"
	class="tpl-form-input am-margin-top-xs" id="address" name="address" 
	placeholder="请输入address">        </div>
    </div>
        <div class="am-form-group">
        <label for="zip" class="am-u-sm-12 am-form-label am-text-left">zip            <span class="tpl-form-line-small-title">zip</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.zip)"}{$enewsshop_address.zip}{/if}"
	class="tpl-form-input am-margin-top-xs" id="zip" name="zip" 
	placeholder="请输入zip">        </div>
    </div>
        <div class="am-form-group">
        <label for="mycall" class="am-u-sm-12 am-form-label am-text-left">mycall            <span class="tpl-form-line-small-title">mycall</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.mycall)"}{$enewsshop_address.mycall}{/if}"
	class="tpl-form-input am-margin-top-xs" id="mycall" name="mycall" 
	placeholder="请输入mycall">        </div>
    </div>
        <div class="am-form-group">
        <label for="phone" class="am-u-sm-12 am-form-label am-text-left">phone            <span class="tpl-form-line-small-title">phone</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.phone)"}{$enewsshop_address.phone}{/if}"
	class="tpl-form-input am-margin-top-xs" id="phone" name="phone" 
	placeholder="请输入phone">        </div>
    </div>
        <div class="am-form-group">
        <label for="signbuild" class="am-u-sm-12 am-form-label am-text-left">signbuild            <span class="tpl-form-line-small-title">signbuild</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.signbuild)"}{$enewsshop_address.signbuild}{/if}"
	class="tpl-form-input am-margin-top-xs" id="signbuild" name="signbuild" 
	placeholder="请输入signbuild">        </div>
    </div>
        <div class="am-form-group">
        <label for="besttime" class="am-u-sm-12 am-form-label am-text-left">besttime            <span class="tpl-form-line-small-title">besttime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.besttime)"}{$enewsshop_address.besttime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="besttime" name="besttime" 
	placeholder="请输入besttime">        </div>
    </div>
        <div class="am-form-group">
        <label for="isdefault" class="am-u-sm-12 am-form-label am-text-left">isdefault            <span class="tpl-form-line-small-title">isdefault</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_address.isdefault)"}{$enewsshop_address.isdefault}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isdefault" name="isdefault" 
	placeholder="请输入isdefault">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}