{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">管理enewspublic</div>
                    </div>
                    <div class="widget-body  am-fr">
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
        <div class="am-form-group">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default am-btn-success"
                       href="{:url('enewspublic/add')}">
                        <span class="am-icon-plus"></span> 新增
                    </a>
                    <!--
                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
            <thead>
            <tr>
                                <th>id</th>
                                <th>newsurl</th>
                                <th>sitename</th>
                                <th>email</th>
                                <th>filetype</th>
                                <th>filesize</th>
                                <th>hotnum</th>
                                <th>newnum</th>
                                <th>relistnum</th>
                                <th>renewsnum</th>
                                <th>min_keyboard</th>
                                <th>max_keyboard</th>
                                <th>search_num</th>
                                <th>search_pagenum</th>
                                <th>newslink</th>
                                <th>checked</th>
                                <th>searchtime</th>
                                <th>loginnum</th>
                                <th>logintime</th>
                                <th>addnews_ok</th>
                                <th>register_ok</th>
                                <th>indextype</th>
                                <th>goodlencord</th>
                                <th>goodtype</th>
                                <th>goodnum</th>
                                <th>searchtype</th>
                                <th>exittime</th>
                                <th>smalltextlen</th>
                                <th>defaultgroupid</th>
                                <th>fileurl</th>
                                <th>phpmode</th>
                                <th>ftphost</th>
                                <th>ftpport</th>
                                <th>ftpusername</th>
                                <th>ftppassword</th>
                                <th>ftppath</th>
                                <th>ftpmode</th>
                                <th>install</th>
                                <th>hotplnum</th>
                                <th>softversion</th>
                                <th>lctime</th>
                                <th>dorepnum</th>
                                <th>loadtempnum</th>
                                <th>firstnum</th>
                                <th>bakdbpath</th>
                                <th>bakdbzip</th>
                                <th>downpass</th>
                                <th>min_userlen</th>
                                <th>max_userlen</th>
                                <th>min_passlen</th>
                                <th>max_passlen</th>
                                <th>filechmod</th>
                                <th>tid</th>
                                <th>tbname</th>
                                <th>loginkey_ok</th>
                                <th>limittype</th>
                                <th>redodown</th>
                                <th>candocode</th>
                                <th>opennotcj</th>
                                <th>reuserpagenum</th>
                                <th>revotejsnum</th>
                                <th>readjsnum</th>
                                <th>qaddtran</th>
                                <th>qaddtransize</th>
                                <th>ebakthisdb</th>
                                <th>delnewsnum</th>
                                <th>markpos</th>
                                <th>markimg</th>
                                <th>marktext</th>
                                <th>markfontsize</th>
                                <th>markfontcolor</th>
                                <th>markfont</th>
                                <th>adminloginkey</th>
                                <th>php_outtime</th>
                                <th>listpagefun</th>
                                <th>textpagefun</th>
                                <th>adfile</th>
                                <th>notsaveurl</th>
                                <th>jstempid</th>
                                <th>rssnum</th>
                                <th>rsssub</th>
                                <th>savetxtf</th>
                                <th>dorepdlevelnum</th>
                                <th>listpagelistfun</th>
                                <th>listpagelistnum</th>
                                <th>infolinknum</th>
                                <th>searchgroupid</th>
                                <th>opencopytext</th>
                                <th>reuserjsnum</th>
                                <th>reuserlistnum</th>
                                <th>opentitleurl</th>
                                <th>qaddtranimgtype</th>
                                <th>qaddtranfile</th>
                                <th>qaddtranfilesize</th>
                                <th>qaddtranfiletype</th>
                                <th>sendmailtype</th>
                                <th>smtphost</th>
                                <th>fromemail</th>
                                <th>loginemail</th>
                                <th>emailusername</th>
                                <th>emailpassword</th>
                                <th>smtpport</th>
                                <th>emailname</th>
                                <th>deftempid</th>
                                <th>feedbacktfile</th>
                                <th>feedbackfilesize</th>
                                <th>feedbackfiletype</th>
                                <th>searchtempvar</th>
                                <th>showinfolevel</th>
                                <th>navfh</th>
                                <th>spicwidth</th>
                                <th>spicheight</th>
                                <th>spickill</th>
                                <th>jpgquality</th>
                                <th>markpct</th>
                                <th>redoview</th>
                                <th>reggetfen</th>
                                <th>regbooktime</th>
                                <th>revotetime</th>
                                <th>nreclass</th>
                                <th>nreinfo</th>
                                <th>nrejs</th>
                                <th>fpath</th>
                                <th>filepath</th>
                                <th>openmembertranimg</th>
                                <th>memberimgsize</th>
                                <th>memberimgtype</th>
                                <th>openmembertranfile</th>
                                <th>memberfilesize</th>
                                <th>memberfiletype</th>
                                <th>nottobq</th>
                                <th>defspacestyleid</th>
                                <th>canposturl</th>
                                <th>openspace</th>
                                <th>defadminstyle</th>
                                <th>realltime</th>
                                <th>closeip</th>
                                <th>openip</th>
                                <th>hopenip</th>
                                <th>closewords</th>
                                <th>closewordsf</th>
                                <th>textpagelistnum</th>
                                <th>memberlistlevel</th>
                                <th>wapopen</th>
                                <th>wapdefstyle</th>
                                <th>wapshowmid</th>
                                <th>waplistnum</th>
                                <th>wapsubtitle</th>
                                <th>wapshowdate</th>
                                <th>wapchar</th>
                                <th>ebakcanlistdb</th>
                                <th>paymoneytofen</th>
                                <th>payminmoney</th>
                                <th>keytog</th>
                                <th>keyrnd</th>
                                <th>keytime</th>
                                <th>regkey_ok</th>
                                <th>opengetdown</th>
                                <th>gbkey_ok</th>
                                <th>fbkey_ok</th>
                                <th>newaddinfotime</th>
                                <th>classnavline</th>
                                <th>classnavfh</th>
                                <th>adminstyle</th>
                                <th>sitekey</th>
                                <th>siteintro</th>
                                <th>docnewsnum</th>
                                <th>openschall</th>
                                <th>schallfield</th>
                                <th>schallminlen</th>
                                <th>schallmaxlen</th>
                                <th>schallnotcid</th>
                                <th>schallnum</th>
                                <th>schallpagenum</th>
                                <th>dtcanbq</th>
                                <th>dtcachetime</th>
                                <th>regretime</th>
                                <th>regclosewords</th>
                                <th>regemailonly</th>
                                <th>repkeynum</th>
                                <th>getpasstime</th>
                                <th>acttime</th>
                                <th>regacttype</th>
                                <th>acttext</th>
                                <th>getpasstext</th>
                                <th>acttitle</th>
                                <th>getpasstitle</th>
                                <th>opengetpass</th>
                                <th>hlistinfonum</th>
                                <th>qlistinfonum</th>
                                <th>dtncanbq</th>
                                <th>dtncachetime</th>
                                <th>readdinfotime</th>
                                <th>qeditinfotime</th>
                                <th>ftpssl</th>
                                <th>ftppasv</th>
                                <th>ftpouttime</th>
                                <th>onclicktype</th>
                                <th>onclickfilesize</th>
                                <th>onclickfiletime</th>
                                <th>schalltime</th>
                                <th>defprinttempid</th>
                                <th>opentags</th>
                                <th>tagstempid</th>
                                <th>usetags</th>
                                <th>chtags</th>
                                <th>tagslistnum</th>
                                <th>closeqdt</th>
                                <th>settop</th>
                                <th>qlistinfomod</th>
                                <th>gb_num</th>
                                <th>member_num</th>
                                <th>space_num</th>
                                <th>opendoip</th>
                                <th>closedoip</th>
                                <th>doiptype</th>
                                <th>filelday</th>
                                <th>infolday</th>
                                <th>baktempnum</th>
                                <th>dorepkey</th>
                                <th>dorepword</th>
                                <th>onclickrnd</th>
                                <th>indexpagedt</th>
                                <th>keybgcolor</th>
                                <th>keyfontcolor</th>
                                <th>keydistcolor</th>
                                <th>indexpageid</th>
                                <th>closeqdtmsg</th>
                                <th>openfileserver</th>
                                <th>closemods</th>
                                <th>fieldandtop</th>
                                <th>fieldandclosetb</th>
                                <th>filedatatbs</th>
                                <th>filedeftb</th>
                                <th>closelisttemp</th>
                                <th>chclasscolor</th>
                                <th>timeclose</th>
                                <th>timeclosedo</th>
                                <th>ipaddinfonum</th>
                                <th>ipaddinfotime</th>
                                <th>rewriteinfo</th>
                                <th>rewriteclass</th>
                                <th>rewriteinfotype</th>
                                <th>rewritetags</th>
                                <th>closehmenu</th>
                                <th>indexaddpage</th>
                                <th>rewritepl</th>
                                <th>modmemberedittran</th>
                                <th>modinfoedittran</th>
                                <th>php_adminouttime</th>
                                <th>httptype</th>
                                <th>qinfoaddfen</th>
                                <th>bakescapetype</th>
                                <th>hkeytime</th>
                                <th>hkeyrnd</th>
                                <th>mhavedatedo</th>
                                <th>reportkey</th>
                                <th>wapchstyle</th>
                                <th>usetotalnum</th>
                                <th>spacegids</th>
                                <th>candocodetag</th>
                                <th>openern</th>
                                <th>ernurl</th>
                                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="enewspublicList" id="vo"}
            <tr class="gradeX">
                                <td>{$vo.id}</td>
                                <td>{$vo.newsurl}</td>
                                <td>{$vo.sitename}</td>
                                <td>{$vo.email}</td>
                                <td>{$vo.filetype}</td>
                                <td>{$vo.filesize}</td>
                                <td>{$vo.hotnum}</td>
                                <td>{$vo.newnum}</td>
                                <td>{$vo.relistnum}</td>
                                <td>{$vo.renewsnum}</td>
                                <td>{$vo.min_keyboard}</td>
                                <td>{$vo.max_keyboard}</td>
                                <td>{$vo.search_num}</td>
                                <td>{$vo.search_pagenum}</td>
                                <td>{$vo.newslink}</td>
                                <td>{$vo.checked}</td>
                                <td>{$vo.searchtime}</td>
                                <td>{$vo.loginnum}</td>
                                <td>{$vo.logintime}</td>
                                <td>{$vo.addnews_ok}</td>
                                <td>{$vo.register_ok}</td>
                                <td>{$vo.indextype}</td>
                                <td>{$vo.goodlencord}</td>
                                <td>{$vo.goodtype}</td>
                                <td>{$vo.goodnum}</td>
                                <td>{$vo.searchtype}</td>
                                <td>{$vo.exittime}</td>
                                <td>{$vo.smalltextlen}</td>
                                <td>{$vo.defaultgroupid}</td>
                                <td>{$vo.fileurl}</td>
                                <td>{$vo.phpmode}</td>
                                <td>{$vo.ftphost}</td>
                                <td>{$vo.ftpport}</td>
                                <td>{$vo.ftpusername}</td>
                                <td>{$vo.ftppassword}</td>
                                <td>{$vo.ftppath}</td>
                                <td>{$vo.ftpmode}</td>
                                <td>{$vo.install}</td>
                                <td>{$vo.hotplnum}</td>
                                <td>{$vo.softversion}</td>
                                <td>{$vo.lctime}</td>
                                <td>{$vo.dorepnum}</td>
                                <td>{$vo.loadtempnum}</td>
                                <td>{$vo.firstnum}</td>
                                <td>{$vo.bakdbpath}</td>
                                <td>{$vo.bakdbzip}</td>
                                <td>{$vo.downpass}</td>
                                <td>{$vo.min_userlen}</td>
                                <td>{$vo.max_userlen}</td>
                                <td>{$vo.min_passlen}</td>
                                <td>{$vo.max_passlen}</td>
                                <td>{$vo.filechmod}</td>
                                <td>{$vo.tid}</td>
                                <td>{$vo.tbname}</td>
                                <td>{$vo.loginkey_ok}</td>
                                <td>{$vo.limittype}</td>
                                <td>{$vo.redodown}</td>
                                <td>{$vo.candocode}</td>
                                <td>{$vo.opennotcj}</td>
                                <td>{$vo.reuserpagenum}</td>
                                <td>{$vo.revotejsnum}</td>
                                <td>{$vo.readjsnum}</td>
                                <td>{$vo.qaddtran}</td>
                                <td>{$vo.qaddtransize}</td>
                                <td>{$vo.ebakthisdb}</td>
                                <td>{$vo.delnewsnum}</td>
                                <td>{$vo.markpos}</td>
                                <td>{$vo.markimg}</td>
                                <td>{$vo.marktext}</td>
                                <td>{$vo.markfontsize}</td>
                                <td>{$vo.markfontcolor}</td>
                                <td>{$vo.markfont}</td>
                                <td>{$vo.adminloginkey}</td>
                                <td>{$vo.php_outtime}</td>
                                <td>{$vo.listpagefun}</td>
                                <td>{$vo.textpagefun}</td>
                                <td>{$vo.adfile}</td>
                                <td>{$vo.notsaveurl}</td>
                                <td>{$vo.jstempid}</td>
                                <td>{$vo.rssnum}</td>
                                <td>{$vo.rsssub}</td>
                                <td>{$vo.savetxtf}</td>
                                <td>{$vo.dorepdlevelnum}</td>
                                <td>{$vo.listpagelistfun}</td>
                                <td>{$vo.listpagelistnum}</td>
                                <td>{$vo.infolinknum}</td>
                                <td>{$vo.searchgroupid}</td>
                                <td>{$vo.opencopytext}</td>
                                <td>{$vo.reuserjsnum}</td>
                                <td>{$vo.reuserlistnum}</td>
                                <td>{$vo.opentitleurl}</td>
                                <td>{$vo.qaddtranimgtype}</td>
                                <td>{$vo.qaddtranfile}</td>
                                <td>{$vo.qaddtranfilesize}</td>
                                <td>{$vo.qaddtranfiletype}</td>
                                <td>{$vo.sendmailtype}</td>
                                <td>{$vo.smtphost}</td>
                                <td>{$vo.fromemail}</td>
                                <td>{$vo.loginemail}</td>
                                <td>{$vo.emailusername}</td>
                                <td>{$vo.emailpassword}</td>
                                <td>{$vo.smtpport}</td>
                                <td>{$vo.emailname}</td>
                                <td>{$vo.deftempid}</td>
                                <td>{$vo.feedbacktfile}</td>
                                <td>{$vo.feedbackfilesize}</td>
                                <td>{$vo.feedbackfiletype}</td>
                                <td>{$vo.searchtempvar}</td>
                                <td>{$vo.showinfolevel}</td>
                                <td>{$vo.navfh}</td>
                                <td>{$vo.spicwidth}</td>
                                <td>{$vo.spicheight}</td>
                                <td>{$vo.spickill}</td>
                                <td>{$vo.jpgquality}</td>
                                <td>{$vo.markpct}</td>
                                <td>{$vo.redoview}</td>
                                <td>{$vo.reggetfen}</td>
                                <td>{$vo.regbooktime}</td>
                                <td>{$vo.revotetime}</td>
                                <td>{$vo.nreclass}</td>
                                <td>{$vo.nreinfo}</td>
                                <td>{$vo.nrejs}</td>
                                <td>{$vo.fpath}</td>
                                <td>{$vo.filepath}</td>
                                <td>{$vo.openmembertranimg}</td>
                                <td>{$vo.memberimgsize}</td>
                                <td>{$vo.memberimgtype}</td>
                                <td>{$vo.openmembertranfile}</td>
                                <td>{$vo.memberfilesize}</td>
                                <td>{$vo.memberfiletype}</td>
                                <td>{$vo.nottobq}</td>
                                <td>{$vo.defspacestyleid}</td>
                                <td>{$vo.canposturl}</td>
                                <td>{$vo.openspace}</td>
                                <td>{$vo.defadminstyle}</td>
                                <td>{$vo.realltime}</td>
                                <td>{$vo.closeip}</td>
                                <td>{$vo.openip}</td>
                                <td>{$vo.hopenip}</td>
                                <td>{$vo.closewords}</td>
                                <td>{$vo.closewordsf}</td>
                                <td>{$vo.textpagelistnum}</td>
                                <td>{$vo.memberlistlevel}</td>
                                <td>{$vo.wapopen}</td>
                                <td>{$vo.wapdefstyle}</td>
                                <td>{$vo.wapshowmid}</td>
                                <td>{$vo.waplistnum}</td>
                                <td>{$vo.wapsubtitle}</td>
                                <td>{$vo.wapshowdate}</td>
                                <td>{$vo.wapchar}</td>
                                <td>{$vo.ebakcanlistdb}</td>
                                <td>{$vo.paymoneytofen}</td>
                                <td>{$vo.payminmoney}</td>
                                <td>{$vo.keytog}</td>
                                <td>{$vo.keyrnd}</td>
                                <td>{$vo.keytime}</td>
                                <td>{$vo.regkey_ok}</td>
                                <td>{$vo.opengetdown}</td>
                                <td>{$vo.gbkey_ok}</td>
                                <td>{$vo.fbkey_ok}</td>
                                <td>{$vo.newaddinfotime}</td>
                                <td>{$vo.classnavline}</td>
                                <td>{$vo.classnavfh}</td>
                                <td>{$vo.adminstyle}</td>
                                <td>{$vo.sitekey}</td>
                                <td>{$vo.siteintro}</td>
                                <td>{$vo.docnewsnum}</td>
                                <td>{$vo.openschall}</td>
                                <td>{$vo.schallfield}</td>
                                <td>{$vo.schallminlen}</td>
                                <td>{$vo.schallmaxlen}</td>
                                <td>{$vo.schallnotcid}</td>
                                <td>{$vo.schallnum}</td>
                                <td>{$vo.schallpagenum}</td>
                                <td>{$vo.dtcanbq}</td>
                                <td>{$vo.dtcachetime}</td>
                                <td>{$vo.regretime}</td>
                                <td>{$vo.regclosewords}</td>
                                <td>{$vo.regemailonly}</td>
                                <td>{$vo.repkeynum}</td>
                                <td>{$vo.getpasstime}</td>
                                <td>{$vo.acttime}</td>
                                <td>{$vo.regacttype}</td>
                                <td>{$vo.acttext}</td>
                                <td>{$vo.getpasstext}</td>
                                <td>{$vo.acttitle}</td>
                                <td>{$vo.getpasstitle}</td>
                                <td>{$vo.opengetpass}</td>
                                <td>{$vo.hlistinfonum}</td>
                                <td>{$vo.qlistinfonum}</td>
                                <td>{$vo.dtncanbq}</td>
                                <td>{$vo.dtncachetime}</td>
                                <td>{$vo.readdinfotime}</td>
                                <td>{$vo.qeditinfotime}</td>
                                <td>{$vo.ftpssl}</td>
                                <td>{$vo.ftppasv}</td>
                                <td>{$vo.ftpouttime}</td>
                                <td>{$vo.onclicktype}</td>
                                <td>{$vo.onclickfilesize}</td>
                                <td>{$vo.onclickfiletime}</td>
                                <td>{$vo.schalltime}</td>
                                <td>{$vo.defprinttempid}</td>
                                <td>{$vo.opentags}</td>
                                <td>{$vo.tagstempid}</td>
                                <td>{$vo.usetags}</td>
                                <td>{$vo.chtags}</td>
                                <td>{$vo.tagslistnum}</td>
                                <td>{$vo.closeqdt}</td>
                                <td>{$vo.settop}</td>
                                <td>{$vo.qlistinfomod}</td>
                                <td>{$vo.gb_num}</td>
                                <td>{$vo.member_num}</td>
                                <td>{$vo.space_num}</td>
                                <td>{$vo.opendoip}</td>
                                <td>{$vo.closedoip}</td>
                                <td>{$vo.doiptype}</td>
                                <td>{$vo.filelday}</td>
                                <td>{$vo.infolday}</td>
                                <td>{$vo.baktempnum}</td>
                                <td>{$vo.dorepkey}</td>
                                <td>{$vo.dorepword}</td>
                                <td>{$vo.onclickrnd}</td>
                                <td>{$vo.indexpagedt}</td>
                                <td>{$vo.keybgcolor}</td>
                                <td>{$vo.keyfontcolor}</td>
                                <td>{$vo.keydistcolor}</td>
                                <td>{$vo.indexpageid}</td>
                                <td>{$vo.closeqdtmsg}</td>
                                <td>{$vo.openfileserver}</td>
                                <td>{$vo.closemods}</td>
                                <td>{$vo.fieldandtop}</td>
                                <td>{$vo.fieldandclosetb}</td>
                                <td>{$vo.filedatatbs}</td>
                                <td>{$vo.filedeftb}</td>
                                <td>{$vo.closelisttemp}</td>
                                <td>{$vo.chclasscolor}</td>
                                <td>{$vo.timeclose}</td>
                                <td>{$vo.timeclosedo}</td>
                                <td>{$vo.ipaddinfonum}</td>
                                <td>{$vo.ipaddinfotime}</td>
                                <td>{$vo.rewriteinfo}</td>
                                <td>{$vo.rewriteclass}</td>
                                <td>{$vo.rewriteinfotype}</td>
                                <td>{$vo.rewritetags}</td>
                                <td>{$vo.closehmenu}</td>
                                <td>{$vo.indexaddpage}</td>
                                <td>{$vo.rewritepl}</td>
                                <td>{$vo.modmemberedittran}</td>
                                <td>{$vo.modinfoedittran}</td>
                                <td>{$vo.php_adminouttime}</td>
                                <td>{$vo.httptype}</td>
                                <td>{$vo.qinfoaddfen}</td>
                                <td>{$vo.bakescapetype}</td>
                                <td>{$vo.hkeytime}</td>
                                <td>{$vo.hkeyrnd}</td>
                                <td>{$vo.mhavedatedo}</td>
                                <td>{$vo.reportkey}</td>
                                <td>{$vo.wapchstyle}</td>
                                <td>{$vo.usetotalnum}</td>
                                <td>{$vo.spacegids}</td>
                                <td>{$vo.candocodetag}</td>
                                <td>{$vo.openern}</td>
                                <td>{$vo.ernurl}</td>
                                <td>
                    <div class="tpl-table-black-operation">
                        <a href="{:url('enewspublic/edit', ['id'=>$vo['id']])}">
                            <i class="am-icon-pencil"></i> 编辑
                        </a>
                        <a href="{:url('enewspublic/delete', ['id'=>$vo['id']])}"
                           onclick='return confirm("确定删除吗？")' class="tpl-table-black-operation-del">
                            <i class="am-icon-trash"></i> 删除
                        </a>
                    </div>
                </td>
            </tr>
            {/volist}
            <!-- more data -->
            </tbody>
        </table>
    </div>
    <div class="am-u-lg-12 am-cf">

        <div class="am-fr">
            <ul class="am-pagination tpl-pagination">
                {$enewspublicList->render()}
            </ul>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}