{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsmemberform</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="fid" class="am-u-sm-12 am-form-label am-text-left">fid            <span class="tpl-form-line-small-title">fid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.fid)"}{$enewsmemberform.fid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fid" name="fid" 
	placeholder="请输入fid">        </div>
    </div>
        <div class="am-form-group">
        <label for="fname" class="am-u-sm-12 am-form-label am-text-left">fname            <span class="tpl-form-line-small-title">fname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.fname)"}{$enewsmemberform.fname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fname" name="fname" 
	placeholder="请输入fname">        </div>
    </div>
        <div class="am-form-group">
        <label for="ftemp" class="am-u-sm-12 am-form-label am-text-left">ftemp            <span class="tpl-form-line-small-title">ftemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.ftemp)"}{$enewsmemberform.ftemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ftemp" name="ftemp" 
	placeholder="请输入ftemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="fzs" class="am-u-sm-12 am-form-label am-text-left">fzs            <span class="tpl-form-line-small-title">fzs</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.fzs)"}{$enewsmemberform.fzs}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fzs" name="fzs" 
	placeholder="请输入fzs">        </div>
    </div>
        <div class="am-form-group">
        <label for="enter" class="am-u-sm-12 am-form-label am-text-left">enter            <span class="tpl-form-line-small-title">enter</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.enter)"}{$enewsmemberform.enter}{/if}"
	class="tpl-form-input am-margin-top-xs" id="enter" name="enter" 
	placeholder="请输入enter">        </div>
    </div>
        <div class="am-form-group">
        <label for="mustenter" class="am-u-sm-12 am-form-label am-text-left">mustenter            <span class="tpl-form-line-small-title">mustenter</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.mustenter)"}{$enewsmemberform.mustenter}{/if}"
	class="tpl-form-input am-margin-top-xs" id="mustenter" name="mustenter" 
	placeholder="请输入mustenter">        </div>
    </div>
        <div class="am-form-group">
        <label for="filef" class="am-u-sm-12 am-form-label am-text-left">filef            <span class="tpl-form-line-small-title">filef</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.filef)"}{$enewsmemberform.filef}{/if}"
	class="tpl-form-input am-margin-top-xs" id="filef" name="filef" 
	placeholder="请输入filef">        </div>
    </div>
        <div class="am-form-group">
        <label for="imgf" class="am-u-sm-12 am-form-label am-text-left">imgf            <span class="tpl-form-line-small-title">imgf</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.imgf)"}{$enewsmemberform.imgf}{/if}"
	class="tpl-form-input am-margin-top-xs" id="imgf" name="imgf" 
	placeholder="请输入imgf">        </div>
    </div>
        <div class="am-form-group">
        <label for="tobrf" class="am-u-sm-12 am-form-label am-text-left">tobrf            <span class="tpl-form-line-small-title">tobrf</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.tobrf)"}{$enewsmemberform.tobrf}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tobrf" name="tobrf" 
	placeholder="请输入tobrf">        </div>
    </div>
        <div class="am-form-group">
        <label for="viewenter" class="am-u-sm-12 am-form-label am-text-left">viewenter            <span class="tpl-form-line-small-title">viewenter</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.viewenter)"}{$enewsmemberform.viewenter}{/if}"
	class="tpl-form-input am-margin-top-xs" id="viewenter" name="viewenter" 
	placeholder="请输入viewenter">        </div>
    </div>
        <div class="am-form-group">
        <label for="searchvar" class="am-u-sm-12 am-form-label am-text-left">searchvar            <span class="tpl-form-line-small-title">searchvar</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.searchvar)"}{$enewsmemberform.searchvar}{/if}"
	class="tpl-form-input am-margin-top-xs" id="searchvar" name="searchvar" 
	placeholder="请输入searchvar">        </div>
    </div>
        <div class="am-form-group">
        <label for="canaddf" class="am-u-sm-12 am-form-label am-text-left">canaddf            <span class="tpl-form-line-small-title">canaddf</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.canaddf)"}{$enewsmemberform.canaddf}{/if}"
	class="tpl-form-input am-margin-top-xs" id="canaddf" name="canaddf" 
	placeholder="请输入canaddf">        </div>
    </div>
        <div class="am-form-group">
        <label for="caneditf" class="am-u-sm-12 am-form-label am-text-left">caneditf            <span class="tpl-form-line-small-title">caneditf</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.caneditf)"}{$enewsmemberform.caneditf}{/if}"
	class="tpl-form-input am-margin-top-xs" id="caneditf" name="caneditf" 
	placeholder="请输入caneditf">        </div>
    </div>
        <div class="am-form-group">
        <label for="checkboxf" class="am-u-sm-12 am-form-label am-text-left">checkboxf            <span class="tpl-form-line-small-title">checkboxf</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberform.checkboxf)"}{$enewsmemberform.checkboxf}{/if}"
	class="tpl-form-input am-margin-top-xs" id="checkboxf" name="checkboxf" 
	placeholder="请输入checkboxf">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}