{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑im_server_list</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
	 
	<input type="hidden" name="id" value="{$server_list.id}" />
		<div class="am-form-group">
			<label for="name" class="am-u-sm-12 am-form-label am-text-left">name					<span class="tpl-form-line-small-title">name</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($server_list.name)"}{$server_list.name}{/if}"
	class="tpl-form-input am-margin-top-xs" id="name" name="name" 
	placeholder="请输入name">			</div>
	</div>
		<div class="am-form-group">
			<label for="access" class="am-u-sm-12 am-form-label am-text-left">access					<span class="tpl-form-line-small-title">access</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($server_list.access)"}{$server_list.access}{/if}"
	class="tpl-form-input am-margin-top-xs" id="access" name="access" 
	placeholder="请输入access">			</div>
	</div>
		<div class="am-form-group">
			<label for="client_id" class="am-u-sm-12 am-form-label am-text-left">client_id					<span class="tpl-form-line-small-title">client_id</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($server_list.client_id)"}{$server_list.client_id}{/if}"
	class="tpl-form-input am-margin-top-xs" id="client_id" name="client_id" 
	placeholder="请输入client_id">			</div>
	</div>
		<div class="am-form-group">
			<label for="staff_id" class="am-u-sm-12 am-form-label am-text-left">staff_id					<span class="tpl-form-line-small-title">staff_id</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($server_list.staff_id)"}{$server_list.staff_id}{/if}"
	class="tpl-form-input am-margin-top-xs" id="staff_id" name="staff_id" 
	placeholder="请输入staff_id">			</div>
	</div>
		<div class="am-form-group">
			<label for="create_time" class="am-u-sm-12 am-form-label am-text-left">create_time					<span class="tpl-form-line-small-title">create_time</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($server_list.create_time)"}{$server_list.create_time}{/if}"
	class="tpl-form-input am-margin-top-xs" id="create_time" name="create_time" 
	placeholder="请输入create_time">			</div>
	</div>
		<div class="am-form-group">
			<label for="update_time" class="am-u-sm-12 am-form-label am-text-left">update_time					<span class="tpl-form-line-small-title">update_time</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($server_list.update_time)"}{$server_list.update_time}{/if}"
	class="tpl-form-input am-margin-top-xs" id="update_time" name="update_time" 
	placeholder="请输入update_time">			</div>
	</div>
		<div class="am-form-group">
			<label for="active_time" class="am-u-sm-12 am-form-label am-text-left">active_time					<span class="tpl-form-line-small-title">active_time</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($server_list.active_time)"}{$server_list.active_time}{/if}"
	class="tpl-form-input am-margin-top-xs" id="active_time" name="active_time" 
	placeholder="请输入active_time">			</div>
	</div>
		<div class="am-form-group">
			<div class="am-u-sm-12 am-u-sm-push-12">
					<button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
			</div>
	</div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}