{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_enewsshopdd_add</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="ddid" class="am-u-sm-12 am-form-label am-text-left">ddid            <span class="tpl-form-line-small-title">ddid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshopdd_add.ddid)"}{$enewsshopdd_add.ddid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ddid" name="ddid" 
	placeholder="请输入ddid">        </div>
    </div>
        <div class="am-form-group">
        <label for="buycar" class="am-u-sm-12 am-form-label am-text-left">buycar            <span class="tpl-form-line-small-title">buycar</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshopdd_add.buycar)"}{$enewsshopdd_add.buycar}{/if}"
	class="tpl-form-input am-margin-top-xs" id="buycar" name="buycar" 
	placeholder="请输入buycar">        </div>
    </div>
        <div class="am-form-group">
        <label for="bz" class="am-u-sm-12 am-form-label am-text-left">bz            <span class="tpl-form-line-small-title">bz</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshopdd_add.bz)"}{$enewsshopdd_add.bz}{/if}"
	class="tpl-form-input am-margin-top-xs" id="bz" name="bz" 
	placeholder="请输入bz">        </div>
    </div>
        <div class="am-form-group">
        <label for="retext" class="am-u-sm-12 am-form-label am-text-left">retext            <span class="tpl-form-line-small-title">retext</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshopdd_add.retext)"}{$enewsshopdd_add.retext}{/if}"
	class="tpl-form-input am-margin-top-xs" id="retext" name="retext" 
	placeholder="请输入retext">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}