{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_enewspubtemp</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="indextemp" class="am-u-sm-12 am-form-label am-text-left">indextemp            <span class="tpl-form-line-small-title">indextemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.indextemp)"}{$enewspubtemp.indextemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="indextemp" name="indextemp" 
	placeholder="请输入indextemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="cptemp" class="am-u-sm-12 am-form-label am-text-left">cptemp            <span class="tpl-form-line-small-title">cptemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.cptemp)"}{$enewspubtemp.cptemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cptemp" name="cptemp" 
	placeholder="请输入cptemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="searchtemp" class="am-u-sm-12 am-form-label am-text-left">searchtemp            <span class="tpl-form-line-small-title">searchtemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.searchtemp)"}{$enewspubtemp.searchtemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="searchtemp" name="searchtemp" 
	placeholder="请输入searchtemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="searchjstemp" class="am-u-sm-12 am-form-label am-text-left">searchjstemp            <span class="tpl-form-line-small-title">searchjstemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.searchjstemp)"}{$enewspubtemp.searchjstemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="searchjstemp" name="searchjstemp" 
	placeholder="请输入searchjstemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="searchjstemp1" class="am-u-sm-12 am-form-label am-text-left">searchjstemp1            <span class="tpl-form-line-small-title">searchjstemp1</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.searchjstemp1)"}{$enewspubtemp.searchjstemp1}{/if}"
	class="tpl-form-input am-margin-top-xs" id="searchjstemp1" name="searchjstemp1" 
	placeholder="请输入searchjstemp1">        </div>
    </div>
        <div class="am-form-group">
        <label for="otherlinktemp" class="am-u-sm-12 am-form-label am-text-left">otherlinktemp            <span class="tpl-form-line-small-title">otherlinktemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.otherlinktemp)"}{$enewspubtemp.otherlinktemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="otherlinktemp" name="otherlinktemp" 
	placeholder="请输入otherlinktemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="downsofttemp" class="am-u-sm-12 am-form-label am-text-left">downsofttemp            <span class="tpl-form-line-small-title">downsofttemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.downsofttemp)"}{$enewspubtemp.downsofttemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="downsofttemp" name="downsofttemp" 
	placeholder="请输入downsofttemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="onlinemovietemp" class="am-u-sm-12 am-form-label am-text-left">onlinemovietemp            <span class="tpl-form-line-small-title">onlinemovietemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.onlinemovietemp)"}{$enewspubtemp.onlinemovietemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="onlinemovietemp" name="onlinemovietemp" 
	placeholder="请输入onlinemovietemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="listpagetemp" class="am-u-sm-12 am-form-label am-text-left">listpagetemp            <span class="tpl-form-line-small-title">listpagetemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.listpagetemp)"}{$enewspubtemp.listpagetemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="listpagetemp" name="listpagetemp" 
	placeholder="请输入listpagetemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="gbooktemp" class="am-u-sm-12 am-form-label am-text-left">gbooktemp            <span class="tpl-form-line-small-title">gbooktemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.gbooktemp)"}{$enewspubtemp.gbooktemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="gbooktemp" name="gbooktemp" 
	placeholder="请输入gbooktemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="loginiframe" class="am-u-sm-12 am-form-label am-text-left">loginiframe            <span class="tpl-form-line-small-title">loginiframe</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.loginiframe)"}{$enewspubtemp.loginiframe}{/if}"
	class="tpl-form-input am-margin-top-xs" id="loginiframe" name="loginiframe" 
	placeholder="请输入loginiframe">        </div>
    </div>
        <div class="am-form-group">
        <label for="otherlinktempsub" class="am-u-sm-12 am-form-label am-text-left">otherlinktempsub            <span class="tpl-form-line-small-title">otherlinktempsub</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.otherlinktempsub)"}{$enewspubtemp.otherlinktempsub}{/if}"
	class="tpl-form-input am-margin-top-xs" id="otherlinktempsub" name="otherlinktempsub" 
	placeholder="请输入otherlinktempsub">        </div>
    </div>
        <div class="am-form-group">
        <label for="otherlinktempdate" class="am-u-sm-12 am-form-label am-text-left">otherlinktempdate            <span class="tpl-form-line-small-title">otherlinktempdate</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.otherlinktempdate)"}{$enewspubtemp.otherlinktempdate}{/if}"
	class="tpl-form-input am-margin-top-xs" id="otherlinktempdate" name="otherlinktempdate" 
	placeholder="请输入otherlinktempdate">        </div>
    </div>
        <div class="am-form-group">
        <label for="loginjstemp" class="am-u-sm-12 am-form-label am-text-left">loginjstemp            <span class="tpl-form-line-small-title">loginjstemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.loginjstemp)"}{$enewspubtemp.loginjstemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="loginjstemp" name="loginjstemp" 
	placeholder="请输入loginjstemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="downpagetemp" class="am-u-sm-12 am-form-label am-text-left">downpagetemp            <span class="tpl-form-line-small-title">downpagetemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.downpagetemp)"}{$enewspubtemp.downpagetemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="downpagetemp" name="downpagetemp" 
	placeholder="请输入downpagetemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="pljstemp" class="am-u-sm-12 am-form-label am-text-left">pljstemp            <span class="tpl-form-line-small-title">pljstemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.pljstemp)"}{$enewspubtemp.pljstemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="pljstemp" name="pljstemp" 
	placeholder="请输入pljstemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="schalltemp" class="am-u-sm-12 am-form-label am-text-left">schalltemp            <span class="tpl-form-line-small-title">schalltemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.schalltemp)"}{$enewspubtemp.schalltemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="schalltemp" name="schalltemp" 
	placeholder="请输入schalltemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="schallsubnum" class="am-u-sm-12 am-form-label am-text-left">schallsubnum            <span class="tpl-form-line-small-title">schallsubnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.schallsubnum)"}{$enewspubtemp.schallsubnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="schallsubnum" name="schallsubnum" 
	placeholder="请输入schallsubnum">        </div>
    </div>
        <div class="am-form-group">
        <label for="schalldate" class="am-u-sm-12 am-form-label am-text-left">schalldate            <span class="tpl-form-line-small-title">schalldate</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspubtemp.schalldate)"}{$enewspubtemp.schalldate}{/if}"
	class="tpl-form-input am-margin-top-xs" id="schalldate" name="schalldate" 
	placeholder="请输入schalldate">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}