{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewssql</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <input type="hidden" name="id" value="{$enewssql.id}"/>
        <div class="am-form-group">
        <label for="sqlname" class="am-u-sm-12 am-form-label am-text-left">sqlname            <span class="tpl-form-line-small-title">sqlname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewssql.sqlname)"}{$enewssql.sqlname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="sqlname" name="sqlname" 
	placeholder="请输入sqlname">        </div>
    </div>
        <div class="am-form-group">
        <label for="sqltext" class="am-u-sm-12 am-form-label am-text-left">sqltext            <span class="tpl-form-line-small-title">sqltext</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewssql.sqltext)"}{$enewssql.sqltext}{/if}"
	class="tpl-form-input am-margin-top-xs" id="sqltext" name="sqltext" 
	placeholder="请输入sqltext">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}