{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsshoppayfs</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="payid" class="am-u-sm-12 am-form-label am-text-left">payid            <span class="tpl-form-line-small-title">payid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshoppayfs.payid)"}{$enewsshoppayfs.payid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="payid" name="payid" 
	placeholder="请输入payid">        </div>
    </div>
        <div class="am-form-group">
        <label for="payname" class="am-u-sm-12 am-form-label am-text-left">payname            <span class="tpl-form-line-small-title">payname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshoppayfs.payname)"}{$enewsshoppayfs.payname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="payname" name="payname" 
	placeholder="请输入payname">        </div>
    </div>
        <div class="am-form-group">
        <label for="payurl" class="am-u-sm-12 am-form-label am-text-left">payurl            <span class="tpl-form-line-small-title">payurl</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshoppayfs.payurl)"}{$enewsshoppayfs.payurl}{/if}"
	class="tpl-form-input am-margin-top-xs" id="payurl" name="payurl" 
	placeholder="请输入payurl">        </div>
    </div>
        <div class="am-form-group">
        <label for="paysay" class="am-u-sm-12 am-form-label am-text-left">paysay            <span class="tpl-form-line-small-title">paysay</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshoppayfs.paysay)"}{$enewsshoppayfs.paysay}{/if}"
	class="tpl-form-input am-margin-top-xs" id="paysay" name="paysay" 
	placeholder="请输入paysay">        </div>
    </div>
        <div class="am-form-group">
        <label for="userpay" class="am-u-sm-12 am-form-label am-text-left">userpay            <span class="tpl-form-line-small-title">userpay</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshoppayfs.userpay)"}{$enewsshoppayfs.userpay}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userpay" name="userpay" 
	placeholder="请输入userpay">        </div>
    </div>
        <div class="am-form-group">
        <label for="userfen" class="am-u-sm-12 am-form-label am-text-left">userfen            <span class="tpl-form-line-small-title">userfen</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshoppayfs.userfen)"}{$enewsshoppayfs.userfen}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userfen" name="userfen" 
	placeholder="请输入userfen">        </div>
    </div>
        <div class="am-form-group">
        <label for="isclose" class="am-u-sm-12 am-form-label am-text-left">isclose            <span class="tpl-form-line-small-title">isclose</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshoppayfs.isclose)"}{$enewsshoppayfs.isclose}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isclose" name="isclose" 
	placeholder="请输入isclose">        </div>
    </div>
        <div class="am-form-group">
        <label for="isdefault" class="am-u-sm-12 am-form-label am-text-left">isdefault            <span class="tpl-form-line-small-title">isdefault</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshoppayfs.isdefault)"}{$enewsshoppayfs.isdefault}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isdefault" name="isdefault" 
	placeholder="请输入isdefault">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}