{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_ecms_infotmp_shop</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="classid" class="am-u-sm-12 am-form-label am-text-left">classid            <span class="tpl-form-line-small-title">classid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.classid)"}{$ecms_infotmp_shop.classid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="classid" name="classid" 
	placeholder="请输入classid">        </div>
    </div>
        <div class="am-form-group">
        <label for="oldurl" class="am-u-sm-12 am-form-label am-text-left">oldurl            <span class="tpl-form-line-small-title">oldurl</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.oldurl)"}{$ecms_infotmp_shop.oldurl}{/if}"
	class="tpl-form-input am-margin-top-xs" id="oldurl" name="oldurl" 
	placeholder="请输入oldurl">        </div>
    </div>
        <div class="am-form-group">
        <label for="checked" class="am-u-sm-12 am-form-label am-text-left">checked            <span class="tpl-form-line-small-title">checked</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.checked)"}{$ecms_infotmp_shop.checked}{/if}"
	class="tpl-form-input am-margin-top-xs" id="checked" name="checked" 
	placeholder="请输入checked">        </div>
    </div>
        <div class="am-form-group">
        <label for="tmptime" class="am-u-sm-12 am-form-label am-text-left">tmptime            <span class="tpl-form-line-small-title">tmptime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.tmptime)"}{$ecms_infotmp_shop.tmptime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tmptime" name="tmptime" 
	placeholder="请输入tmptime">        </div>
    </div>
        <div class="am-form-group">
        <label for="userid" class="am-u-sm-12 am-form-label am-text-left">userid            <span class="tpl-form-line-small-title">userid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.userid)"}{$ecms_infotmp_shop.userid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userid" name="userid" 
	placeholder="请输入userid">        </div>
    </div>
        <div class="am-form-group">
        <label for="username" class="am-u-sm-12 am-form-label am-text-left">username            <span class="tpl-form-line-small-title">username</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.username)"}{$ecms_infotmp_shop.username}{/if}"
	class="tpl-form-input am-margin-top-xs" id="username" name="username" 
	placeholder="请输入username">        </div>
    </div>
        <div class="am-form-group">
        <label for="truetime" class="am-u-sm-12 am-form-label am-text-left">truetime            <span class="tpl-form-line-small-title">truetime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.truetime)"}{$ecms_infotmp_shop.truetime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="truetime" name="truetime" 
	placeholder="请输入truetime">        </div>
    </div>
        <div class="am-form-group">
        <label for="keyboard" class="am-u-sm-12 am-form-label am-text-left">keyboard            <span class="tpl-form-line-small-title">keyboard</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.keyboard)"}{$ecms_infotmp_shop.keyboard}{/if}"
	class="tpl-form-input am-margin-top-xs" id="keyboard" name="keyboard" 
	placeholder="请输入keyboard">        </div>
    </div>
        <div class="am-form-group">
        <label for="title" class="am-u-sm-12 am-form-label am-text-left">title            <span class="tpl-form-line-small-title">title</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.title)"}{$ecms_infotmp_shop.title}{/if}"
	class="tpl-form-input am-margin-top-xs" id="title" name="title" 
	placeholder="请输入title">        </div>
    </div>
        <div class="am-form-group">
        <label for="newstime" class="am-u-sm-12 am-form-label am-text-left">newstime            <span class="tpl-form-line-small-title">newstime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.newstime)"}{$ecms_infotmp_shop.newstime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="newstime" name="newstime" 
	placeholder="请输入newstime">        </div>
    </div>
        <div class="am-form-group">
        <label for="titlepic" class="am-u-sm-12 am-form-label am-text-left">titlepic            <span class="tpl-form-line-small-title">titlepic</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.titlepic)"}{$ecms_infotmp_shop.titlepic}{/if}"
	class="tpl-form-input am-margin-top-xs" id="titlepic" name="titlepic" 
	placeholder="请输入titlepic">        </div>
    </div>
        <div class="am-form-group">
        <label for="productno" class="am-u-sm-12 am-form-label am-text-left">productno            <span class="tpl-form-line-small-title">productno</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.productno)"}{$ecms_infotmp_shop.productno}{/if}"
	class="tpl-form-input am-margin-top-xs" id="productno" name="productno" 
	placeholder="请输入productno">        </div>
    </div>
        <div class="am-form-group">
        <label for="pbrand" class="am-u-sm-12 am-form-label am-text-left">pbrand            <span class="tpl-form-line-small-title">pbrand</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.pbrand)"}{$ecms_infotmp_shop.pbrand}{/if}"
	class="tpl-form-input am-margin-top-xs" id="pbrand" name="pbrand" 
	placeholder="请输入pbrand">        </div>
    </div>
        <div class="am-form-group">
        <label for="intro" class="am-u-sm-12 am-form-label am-text-left">intro            <span class="tpl-form-line-small-title">intro</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.intro)"}{$ecms_infotmp_shop.intro}{/if}"
	class="tpl-form-input am-margin-top-xs" id="intro" name="intro" 
	placeholder="请输入intro">        </div>
    </div>
        <div class="am-form-group">
        <label for="unit" class="am-u-sm-12 am-form-label am-text-left">unit            <span class="tpl-form-line-small-title">unit</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.unit)"}{$ecms_infotmp_shop.unit}{/if}"
	class="tpl-form-input am-margin-top-xs" id="unit" name="unit" 
	placeholder="请输入unit">        </div>
    </div>
        <div class="am-form-group">
        <label for="weight" class="am-u-sm-12 am-form-label am-text-left">weight            <span class="tpl-form-line-small-title">weight</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.weight)"}{$ecms_infotmp_shop.weight}{/if}"
	class="tpl-form-input am-margin-top-xs" id="weight" name="weight" 
	placeholder="请输入weight">        </div>
    </div>
        <div class="am-form-group">
        <label for="tprice" class="am-u-sm-12 am-form-label am-text-left">tprice            <span class="tpl-form-line-small-title">tprice</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.tprice)"}{$ecms_infotmp_shop.tprice}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tprice" name="tprice" 
	placeholder="请输入tprice">        </div>
    </div>
        <div class="am-form-group">
        <label for="price" class="am-u-sm-12 am-form-label am-text-left">price            <span class="tpl-form-line-small-title">price</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.price)"}{$ecms_infotmp_shop.price}{/if}"
	class="tpl-form-input am-margin-top-xs" id="price" name="price" 
	placeholder="请输入price">        </div>
    </div>
        <div class="am-form-group">
        <label for="buyfen" class="am-u-sm-12 am-form-label am-text-left">buyfen            <span class="tpl-form-line-small-title">buyfen</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.buyfen)"}{$ecms_infotmp_shop.buyfen}{/if}"
	class="tpl-form-input am-margin-top-xs" id="buyfen" name="buyfen" 
	placeholder="请输入buyfen">        </div>
    </div>
        <div class="am-form-group">
        <label for="pmaxnum" class="am-u-sm-12 am-form-label am-text-left">pmaxnum            <span class="tpl-form-line-small-title">pmaxnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.pmaxnum)"}{$ecms_infotmp_shop.pmaxnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="pmaxnum" name="pmaxnum" 
	placeholder="请输入pmaxnum">        </div>
    </div>
        <div class="am-form-group">
        <label for="productpic" class="am-u-sm-12 am-form-label am-text-left">productpic            <span class="tpl-form-line-small-title">productpic</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.productpic)"}{$ecms_infotmp_shop.productpic}{/if}"
	class="tpl-form-input am-margin-top-xs" id="productpic" name="productpic" 
	placeholder="请输入productpic">        </div>
    </div>
        <div class="am-form-group">
        <label for="newstext" class="am-u-sm-12 am-form-label am-text-left">newstext            <span class="tpl-form-line-small-title">newstext</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.newstext)"}{$ecms_infotmp_shop.newstext}{/if}"
	class="tpl-form-input am-margin-top-xs" id="newstext" name="newstext" 
	placeholder="请输入newstext">        </div>
    </div>
        <div class="am-form-group">
        <label for="psalenum" class="am-u-sm-12 am-form-label am-text-left">psalenum            <span class="tpl-form-line-small-title">psalenum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($ecms_infotmp_shop.psalenum)"}{$ecms_infotmp_shop.psalenum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="psalenum" name="psalenum" 
	placeholder="请输入psalenum">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}