{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
		<div class="row-content am-cf">
		<div class="row">
				<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
						<div class="widget am-cf">
								<div class="widget-head am-cf">
										<div class="widget-title am-fl">编辑im_example</div>
										<div class="widget-function am-fr">
												<a href="javascript:;" class="am-icon-cog"></a>
										</div>
								</div>
								<div class="widget-body am-fr">
										<form class="am-form tpl-form-border-form" method="post">
	 
	<input type="hidden" name="id" value="{$example.id}" />
		<div class="am-form-group">
			<label for="state" class="am-u-sm-12 am-form-label am-text-left">state					<span class="tpl-form-line-small-title">state</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.state)"}{$example.state}{/if}"
	class="tpl-form-input am-margin-top-xs" id="state" name="state" 
	placeholder="请输入state">			</div>
	</div>
		<div class="am-form-group">
			<label for="name" class="am-u-sm-12 am-form-label am-text-left">name					<span class="tpl-form-line-small-title">name</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.name)"}{$example.name}{/if}"
	class="tpl-form-input am-margin-top-xs" id="name" name="name" 
	placeholder="请输入name">			</div>
	</div>
		<div class="am-form-group">
			<label for="phone" class="am-u-sm-12 am-form-label am-text-left">phone					<span class="tpl-form-line-small-title">phone</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.phone)"}{$example.phone}{/if}"
	class="tpl-form-input am-margin-top-xs" id="phone" name="phone" 
	placeholder="请输入phone">			</div>
	</div>
		<div class="am-form-group">
			<label for="user_name" class="am-u-sm-12 am-form-label am-text-left">user_name					<span class="tpl-form-line-small-title">user_name</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.user_name)"}{$example.user_name}{/if}"
	class="tpl-form-input am-margin-top-xs" id="user_name" name="user_name" 
	placeholder="请输入user_name">			</div>
	</div>
		<div class="am-form-group">
			<label for="access" class="am-u-sm-12 am-form-label am-text-left">access					<span class="tpl-form-line-small-title">access</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.access)"}{$example.access}{/if}"
	class="tpl-form-input am-margin-top-xs" id="access" name="access" 
	placeholder="请输入access">			</div>
	</div>
		<div class="am-form-group">
			<label for="create_time" class="am-u-sm-12 am-form-label am-text-left">create_time					<span class="tpl-form-line-small-title">create_time</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.create_time)"}{$example.create_time}{/if}"
	class="tpl-form-input am-margin-top-xs" id="create_time" name="create_time" 
	placeholder="请输入create_time">			</div>
	</div>
		<div class="am-form-group">
			<label for="update_time" class="am-u-sm-12 am-form-label am-text-left">update_time					<span class="tpl-form-line-small-title">update_time</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.update_time)"}{$example.update_time}{/if}"
	class="tpl-form-input am-margin-top-xs" id="update_time" name="update_time" 
	placeholder="请输入update_time">			</div>
	</div>
		<div class="am-form-group">
			<label for="description" class="am-u-sm-12 am-form-label am-text-left">description					<span class="tpl-form-line-small-title">description</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.description)"}{$example.description}{/if}"
	class="tpl-form-input am-margin-top-xs" id="description" name="description" 
	placeholder="请输入description">			</div>
	</div>
		<div class="am-form-group">
			<label for="staff_pk" class="am-u-sm-12 am-form-label am-text-left">staff_pk					<span class="tpl-form-line-small-title">staff_pk</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.staff_pk)"}{$example.staff_pk}{/if}"
	class="tpl-form-input am-margin-top-xs" id="staff_pk" name="staff_pk" 
	placeholder="请输入staff_pk">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_switch" class="am-u-sm-12 am-form-label am-text-left">invitation_switch					<span class="tpl-form-line-small-title">invitation_switch</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_switch)"}{$example.invitation_switch}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_switch" name="invitation_switch" 
	placeholder="请输入invitation_switch">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_switch_m" class="am-u-sm-12 am-form-label am-text-left">invitation_switch_m					<span class="tpl-form-line-small-title">invitation_switch_m</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_switch_m)"}{$example.invitation_switch_m}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_switch_m" name="invitation_switch_m" 
	placeholder="请输入invitation_switch_m">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_first" class="am-u-sm-12 am-form-label am-text-left">invitation_first					<span class="tpl-form-line-small-title">invitation_first</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_first)"}{$example.invitation_first}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_first" name="invitation_first" 
	placeholder="请输入invitation_first">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_first_m" class="am-u-sm-12 am-form-label am-text-left">invitation_first_m					<span class="tpl-form-line-small-title">invitation_first_m</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_first_m)"}{$example.invitation_first_m}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_first_m" name="invitation_first_m" 
	placeholder="请输入invitation_first_m">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_after" class="am-u-sm-12 am-form-label am-text-left">invitation_after					<span class="tpl-form-line-small-title">invitation_after</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_after)"}{$example.invitation_after}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_after" name="invitation_after" 
	placeholder="请输入invitation_after">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_after_m" class="am-u-sm-12 am-form-label am-text-left">invitation_after_m					<span class="tpl-form-line-small-title">invitation_after_m</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_after_m)"}{$example.invitation_after_m}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_after_m" name="invitation_after_m" 
	placeholder="请输入invitation_after_m">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_num" class="am-u-sm-12 am-form-label am-text-left">invitation_num					<span class="tpl-form-line-small-title">invitation_num</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_num)"}{$example.invitation_num}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_num" name="invitation_num" 
	placeholder="请输入invitation_num">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_num_m" class="am-u-sm-12 am-form-label am-text-left">invitation_num_m					<span class="tpl-form-line-small-title">invitation_num_m</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_num_m)"}{$example.invitation_num_m}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_num_m" name="invitation_num_m" 
	placeholder="请输入invitation_num_m">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_time" class="am-u-sm-12 am-form-label am-text-left">invitation_time					<span class="tpl-form-line-small-title">invitation_time</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_time)"}{$example.invitation_time}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_time" name="invitation_time" 
	placeholder="请输入invitation_time">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_time_m" class="am-u-sm-12 am-form-label am-text-left">invitation_time_m					<span class="tpl-form-line-small-title">invitation_time_m</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_time_m)"}{$example.invitation_time_m}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_time_m" name="invitation_time_m" 
	placeholder="请输入invitation_time_m">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_week" class="am-u-sm-12 am-form-label am-text-left">invitation_week					<span class="tpl-form-line-small-title">invitation_week</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_week)"}{$example.invitation_week}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_week" name="invitation_week" 
	placeholder="请输入invitation_week">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_week_m" class="am-u-sm-12 am-form-label am-text-left">invitation_week_m					<span class="tpl-form-line-small-title">invitation_week_m</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_week_m)"}{$example.invitation_week_m}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_week_m" name="invitation_week_m" 
	placeholder="请输入invitation_week_m">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_auto_close" class="am-u-sm-12 am-form-label am-text-left">invitation_auto_close					<span class="tpl-form-line-small-title">invitation_auto_close</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_auto_close)"}{$example.invitation_auto_close}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_auto_close" name="invitation_auto_close" 
	placeholder="请输入invitation_auto_close">			</div>
	</div>
		<div class="am-form-group">
			<label for="invitation_auto_close_m" class="am-u-sm-12 am-form-label am-text-left">invitation_auto_close_m					<span class="tpl-form-line-small-title">invitation_auto_close_m</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.invitation_auto_close_m)"}{$example.invitation_auto_close_m}{/if}"
	class="tpl-form-input am-margin-top-xs" id="invitation_auto_close_m" name="invitation_auto_close_m" 
	placeholder="请输入invitation_auto_close_m">			</div>
	</div>
		<div class="am-form-group">
			<label for="color" class="am-u-sm-12 am-form-label am-text-left">color					<span class="tpl-form-line-small-title">color</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.color)"}{$example.color}{/if}"
	class="tpl-form-input am-margin-top-xs" id="color" name="color" 
	placeholder="请输入color">			</div>
	</div>
		<div class="am-form-group">
			<label for="color_m" class="am-u-sm-12 am-form-label am-text-left">color_m					<span class="tpl-form-line-small-title">color_m</span></label>
			<div class="am-u-sm-12">
					<input type="text" 
	value="{if condition="isset($example.color_m)"}{$example.color_m}{/if}"
	class="tpl-form-input am-margin-top-xs" id="color_m" name="color_m" 
	placeholder="请输入color_m">			</div>
	</div>
		<div class="am-form-group">
			<div class="am-u-sm-12 am-u-sm-push-12">
					<button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
			</div>
	</div>
</form>

								</div>
						</div>
				</div>
		</div>
	</div>
</div>
{/block}