{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsloginfail</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="ip" class="am-u-sm-12 am-form-label am-text-left">ip            <span class="tpl-form-line-small-title">ip</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsloginfail.ip)"}{$enewsloginfail.ip}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ip" name="ip" 
	placeholder="请输入ip">        </div>
    </div>
        <div class="am-form-group">
        <label for="num" class="am-u-sm-12 am-form-label am-text-left">num            <span class="tpl-form-line-small-title">num</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsloginfail.num)"}{$enewsloginfail.num}{/if}"
	class="tpl-form-input am-margin-top-xs" id="num" name="num" 
	placeholder="请输入num">        </div>
    </div>
        <div class="am-form-group">
        <label for="lasttime" class="am-u-sm-12 am-form-label am-text-left">lasttime            <span class="tpl-form-line-small-title">lasttime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsloginfail.lasttime)"}{$enewsloginfail.lasttime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="lasttime" name="lasttime" 
	placeholder="请输入lasttime">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}