{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewspl_1</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="plid" class="am-u-sm-12 am-form-label am-text-left">plid            <span class="tpl-form-line-small-title">plid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.plid)"}{$enewspl_1.plid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="plid" name="plid" 
	placeholder="请输入plid">        </div>
    </div>
        <div class="am-form-group">
        <label for="pubid" class="am-u-sm-12 am-form-label am-text-left">pubid            <span class="tpl-form-line-small-title">pubid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.pubid)"}{$enewspl_1.pubid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="pubid" name="pubid" 
	placeholder="请输入pubid">        </div>
    </div>
        <div class="am-form-group">
        <label for="username" class="am-u-sm-12 am-form-label am-text-left">username            <span class="tpl-form-line-small-title">username</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.username)"}{$enewspl_1.username}{/if}"
	class="tpl-form-input am-margin-top-xs" id="username" name="username" 
	placeholder="请输入username">        </div>
    </div>
        <div class="am-form-group">
        <label for="sayip" class="am-u-sm-12 am-form-label am-text-left">sayip            <span class="tpl-form-line-small-title">sayip</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.sayip)"}{$enewspl_1.sayip}{/if}"
	class="tpl-form-input am-margin-top-xs" id="sayip" name="sayip" 
	placeholder="请输入sayip">        </div>
    </div>
        <div class="am-form-group">
        <label for="saytime" class="am-u-sm-12 am-form-label am-text-left">saytime            <span class="tpl-form-line-small-title">saytime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.saytime)"}{$enewspl_1.saytime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="saytime" name="saytime" 
	placeholder="请输入saytime">        </div>
    </div>
        <input type="hidden" name="id" value="{$enewspl_1.id}"/>
        <div class="am-form-group">
        <label for="checked" class="am-u-sm-12 am-form-label am-text-left">checked            <span class="tpl-form-line-small-title">checked</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.checked)"}{$enewspl_1.checked}{/if}"
	class="tpl-form-input am-margin-top-xs" id="checked" name="checked" 
	placeholder="请输入checked">        </div>
    </div>
        <div class="am-form-group">
        <label for="classid" class="am-u-sm-12 am-form-label am-text-left">classid            <span class="tpl-form-line-small-title">classid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.classid)"}{$enewspl_1.classid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="classid" name="classid" 
	placeholder="请输入classid">        </div>
    </div>
        <div class="am-form-group">
        <label for="zcnum" class="am-u-sm-12 am-form-label am-text-left">zcnum            <span class="tpl-form-line-small-title">zcnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.zcnum)"}{$enewspl_1.zcnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="zcnum" name="zcnum" 
	placeholder="请输入zcnum">        </div>
    </div>
        <div class="am-form-group">
        <label for="fdnum" class="am-u-sm-12 am-form-label am-text-left">fdnum            <span class="tpl-form-line-small-title">fdnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.fdnum)"}{$enewspl_1.fdnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fdnum" name="fdnum" 
	placeholder="请输入fdnum">        </div>
    </div>
        <div class="am-form-group">
        <label for="userid" class="am-u-sm-12 am-form-label am-text-left">userid            <span class="tpl-form-line-small-title">userid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.userid)"}{$enewspl_1.userid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="userid" name="userid" 
	placeholder="请输入userid">        </div>
    </div>
        <div class="am-form-group">
        <label for="isgood" class="am-u-sm-12 am-form-label am-text-left">isgood            <span class="tpl-form-line-small-title">isgood</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.isgood)"}{$enewspl_1.isgood}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isgood" name="isgood" 
	placeholder="请输入isgood">        </div>
    </div>
        <div class="am-form-group">
        <label for="saytext" class="am-u-sm-12 am-form-label am-text-left">saytext            <span class="tpl-form-line-small-title">saytext</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.saytext)"}{$enewspl_1.saytext}{/if}"
	class="tpl-form-input am-margin-top-xs" id="saytext" name="saytext" 
	placeholder="请输入saytext">        </div>
    </div>
        <div class="am-form-group">
        <label for="eipport" class="am-u-sm-12 am-form-label am-text-left">eipport            <span class="tpl-form-line-small-title">eipport</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewspl_1.eipport)"}{$enewspl_1.eipport}{/if}"
	class="tpl-form-input am-margin-top-xs" id="eipport" name="eipport" 
	placeholder="请输入eipport">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}