{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsshop_set</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <input type="hidden" name="id" value="{$enewsshop_set.id}"/>
        <div class="am-form-group">
        <label for="shopddgroupid" class="am-u-sm-12 am-form-label am-text-left">shopddgroupid            <span class="tpl-form-line-small-title">shopddgroupid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.shopddgroupid)"}{$enewsshop_set.shopddgroupid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="shopddgroupid" name="shopddgroupid" 
	placeholder="请输入shopddgroupid">        </div>
    </div>
        <div class="am-form-group">
        <label for="buycarnum" class="am-u-sm-12 am-form-label am-text-left">buycarnum            <span class="tpl-form-line-small-title">buycarnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.buycarnum)"}{$enewsshop_set.buycarnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="buycarnum" name="buycarnum" 
	placeholder="请输入buycarnum">        </div>
    </div>
        <div class="am-form-group">
        <label for="havefp" class="am-u-sm-12 am-form-label am-text-left">havefp            <span class="tpl-form-line-small-title">havefp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.havefp)"}{$enewsshop_set.havefp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="havefp" name="havefp" 
	placeholder="请输入havefp">        </div>
    </div>
        <div class="am-form-group">
        <label for="fpnum" class="am-u-sm-12 am-form-label am-text-left">fpnum            <span class="tpl-form-line-small-title">fpnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.fpnum)"}{$enewsshop_set.fpnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fpnum" name="fpnum" 
	placeholder="请输入fpnum">        </div>
    </div>
        <div class="am-form-group">
        <label for="fpname" class="am-u-sm-12 am-form-label am-text-left">fpname            <span class="tpl-form-line-small-title">fpname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.fpname)"}{$enewsshop_set.fpname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fpname" name="fpname" 
	placeholder="请输入fpname">        </div>
    </div>
        <div class="am-form-group">
        <label for="ddmust" class="am-u-sm-12 am-form-label am-text-left">ddmust            <span class="tpl-form-line-small-title">ddmust</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.ddmust)"}{$enewsshop_set.ddmust}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ddmust" name="ddmust" 
	placeholder="请输入ddmust">        </div>
    </div>
        <div class="am-form-group">
        <label for="haveatt" class="am-u-sm-12 am-form-label am-text-left">haveatt            <span class="tpl-form-line-small-title">haveatt</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.haveatt)"}{$enewsshop_set.haveatt}{/if}"
	class="tpl-form-input am-margin-top-xs" id="haveatt" name="haveatt" 
	placeholder="请输入haveatt">        </div>
    </div>
        <div class="am-form-group">
        <label for="shoptbs" class="am-u-sm-12 am-form-label am-text-left">shoptbs            <span class="tpl-form-line-small-title">shoptbs</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.shoptbs)"}{$enewsshop_set.shoptbs}{/if}"
	class="tpl-form-input am-margin-top-xs" id="shoptbs" name="shoptbs" 
	placeholder="请输入shoptbs">        </div>
    </div>
        <div class="am-form-group">
        <label for="buystep" class="am-u-sm-12 am-form-label am-text-left">buystep            <span class="tpl-form-line-small-title">buystep</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.buystep)"}{$enewsshop_set.buystep}{/if}"
	class="tpl-form-input am-margin-top-xs" id="buystep" name="buystep" 
	placeholder="请输入buystep">        </div>
    </div>
        <div class="am-form-group">
        <label for="shoppsmust" class="am-u-sm-12 am-form-label am-text-left">shoppsmust            <span class="tpl-form-line-small-title">shoppsmust</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.shoppsmust)"}{$enewsshop_set.shoppsmust}{/if}"
	class="tpl-form-input am-margin-top-xs" id="shoppsmust" name="shoppsmust" 
	placeholder="请输入shoppsmust">        </div>
    </div>
        <div class="am-form-group">
        <label for="shoppayfsmust" class="am-u-sm-12 am-form-label am-text-left">shoppayfsmust            <span class="tpl-form-line-small-title">shoppayfsmust</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.shoppayfsmust)"}{$enewsshop_set.shoppayfsmust}{/if}"
	class="tpl-form-input am-margin-top-xs" id="shoppayfsmust" name="shoppayfsmust" 
	placeholder="请输入shoppayfsmust">        </div>
    </div>
        <div class="am-form-group">
        <label for="dddeltime" class="am-u-sm-12 am-form-label am-text-left">dddeltime            <span class="tpl-form-line-small-title">dddeltime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.dddeltime)"}{$enewsshop_set.dddeltime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="dddeltime" name="dddeltime" 
	placeholder="请输入dddeltime">        </div>
    </div>
        <div class="am-form-group">
        <label for="cutnumtype" class="am-u-sm-12 am-form-label am-text-left">cutnumtype            <span class="tpl-form-line-small-title">cutnumtype</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.cutnumtype)"}{$enewsshop_set.cutnumtype}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cutnumtype" name="cutnumtype" 
	placeholder="请输入cutnumtype">        </div>
    </div>
        <div class="am-form-group">
        <label for="cutnumtime" class="am-u-sm-12 am-form-label am-text-left">cutnumtime            <span class="tpl-form-line-small-title">cutnumtime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.cutnumtime)"}{$enewsshop_set.cutnumtime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cutnumtime" name="cutnumtime" 
	placeholder="请输入cutnumtime">        </div>
    </div>
        <div class="am-form-group">
        <label for="freepstotal" class="am-u-sm-12 am-form-label am-text-left">freepstotal            <span class="tpl-form-line-small-title">freepstotal</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.freepstotal)"}{$enewsshop_set.freepstotal}{/if}"
	class="tpl-form-input am-margin-top-xs" id="freepstotal" name="freepstotal" 
	placeholder="请输入freepstotal">        </div>
    </div>
        <div class="am-form-group">
        <label for="singlenum" class="am-u-sm-12 am-form-label am-text-left">singlenum            <span class="tpl-form-line-small-title">singlenum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsshop_set.singlenum)"}{$enewsshop_set.singlenum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="singlenum" name="singlenum" 
	placeholder="请输入singlenum">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}