{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsadminstyle</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="styleid" class="am-u-sm-12 am-form-label am-text-left">styleid            <span class="tpl-form-line-small-title">styleid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsadminstyle.styleid)"}{$enewsadminstyle.styleid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="styleid" name="styleid" 
	placeholder="请输入styleid">        </div>
    </div>
        <div class="am-form-group">
        <label for="stylename" class="am-u-sm-12 am-form-label am-text-left">stylename            <span class="tpl-form-line-small-title">stylename</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsadminstyle.stylename)"}{$enewsadminstyle.stylename}{/if}"
	class="tpl-form-input am-margin-top-xs" id="stylename" name="stylename" 
	placeholder="请输入stylename">        </div>
    </div>
        <div class="am-form-group">
        <label for="path" class="am-u-sm-12 am-form-label am-text-left">path            <span class="tpl-form-line-small-title">path</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsadminstyle.path)"}{$enewsadminstyle.path}{/if}"
	class="tpl-form-input am-margin-top-xs" id="path" name="path" 
	placeholder="请输入path">        </div>
    </div>
        <div class="am-form-group">
        <label for="isdefault" class="am-u-sm-12 am-form-label am-text-left">isdefault            <span class="tpl-form-line-small-title">isdefault</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsadminstyle.isdefault)"}{$enewsadminstyle.isdefault}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isdefault" name="isdefault" 
	placeholder="请输入isdefault">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}