{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">管理enewsmember_connect_app</div>
                    </div>
                    <div class="widget-body  am-fr">
    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
        <div class="am-form-group">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default am-btn-success"
                       href="{:url('enewsmember_connect_app/add')}">
                        <span class="am-icon-plus"></span> 新增
                    </a>
                    <!--
                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12">
        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
            <thead>
            <tr>
                                <th>id</th>
                                <th>apptype</th>
                                <th>appname</th>
                                <th>appid</th>
                                <th>appkey</th>
                                <th>isclose</th>
                                <th>myorder</th>
                                <th>qappname</th>
                                <th>appsay</th>
                                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="enewsmember_connect_appList" id="vo"}
            <tr class="gradeX">
                                <td>{$vo.id}</td>
                                <td>{$vo.apptype}</td>
                                <td>{$vo.appname}</td>
                                <td>{$vo.appid}</td>
                                <td>{$vo.appkey}</td>
                                <td>{$vo.isclose}</td>
                                <td>{$vo.myorder}</td>
                                <td>{$vo.qappname}</td>
                                <td>{$vo.appsay}</td>
                                <td>
                    <div class="tpl-table-black-operation">
                        <a href="{:url('enewsmember_connect_app/edit', ['id'=>$vo['id']])}">
                            <i class="am-icon-pencil"></i> 编辑
                        </a>
                        <a href="{:url('enewsmember_connect_app/delete', ['id'=>$vo['id']])}"
                           onclick='return confirm("确定删除吗？")' class="tpl-table-black-operation-del">
                            <i class="am-icon-trash"></i> 删除
                        </a>
                    </div>
                </td>
            </tr>
            {/volist}
            <!-- more data -->
            </tbody>
        </table>
    </div>
    <div class="am-u-lg-12 am-cf">

        <div class="am-fr">
            <ul class="am-pagination tpl-pagination">
                {$enewsmember_connect_appList->render()}
            </ul>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}