{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_enewsmemberf</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="fid" class="am-u-sm-12 am-form-label am-text-left">fid            <span class="tpl-form-line-small-title">fid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.fid)"}{$enewsmemberf.fid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fid" name="fid" 
	placeholder="请输入fid">        </div>
    </div>
        <div class="am-form-group">
        <label for="f" class="am-u-sm-12 am-form-label am-text-left">f            <span class="tpl-form-line-small-title">f</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.f)"}{$enewsmemberf.f}{/if}"
	class="tpl-form-input am-margin-top-xs" id="f" name="f" 
	placeholder="请输入f">        </div>
    </div>
        <div class="am-form-group">
        <label for="fname" class="am-u-sm-12 am-form-label am-text-left">fname            <span class="tpl-form-line-small-title">fname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.fname)"}{$enewsmemberf.fname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fname" name="fname" 
	placeholder="请输入fname">        </div>
    </div>
        <div class="am-form-group">
        <label for="fform" class="am-u-sm-12 am-form-label am-text-left">fform            <span class="tpl-form-line-small-title">fform</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.fform)"}{$enewsmemberf.fform}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fform" name="fform" 
	placeholder="请输入fform">        </div>
    </div>
        <div class="am-form-group">
        <label for="fhtml" class="am-u-sm-12 am-form-label am-text-left">fhtml            <span class="tpl-form-line-small-title">fhtml</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.fhtml)"}{$enewsmemberf.fhtml}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fhtml" name="fhtml" 
	placeholder="请输入fhtml">        </div>
    </div>
        <div class="am-form-group">
        <label for="fzs" class="am-u-sm-12 am-form-label am-text-left">fzs            <span class="tpl-form-line-small-title">fzs</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.fzs)"}{$enewsmemberf.fzs}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fzs" name="fzs" 
	placeholder="请输入fzs">        </div>
    </div>
        <div class="am-form-group">
        <label for="myorder" class="am-u-sm-12 am-form-label am-text-left">myorder            <span class="tpl-form-line-small-title">myorder</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.myorder)"}{$enewsmemberf.myorder}{/if}"
	class="tpl-form-input am-margin-top-xs" id="myorder" name="myorder" 
	placeholder="请输入myorder">        </div>
    </div>
        <div class="am-form-group">
        <label for="ftype" class="am-u-sm-12 am-form-label am-text-left">ftype            <span class="tpl-form-line-small-title">ftype</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.ftype)"}{$enewsmemberf.ftype}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ftype" name="ftype" 
	placeholder="请输入ftype">        </div>
    </div>
        <div class="am-form-group">
        <label for="flen" class="am-u-sm-12 am-form-label am-text-left">flen            <span class="tpl-form-line-small-title">flen</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.flen)"}{$enewsmemberf.flen}{/if}"
	class="tpl-form-input am-margin-top-xs" id="flen" name="flen" 
	placeholder="请输入flen">        </div>
    </div>
        <div class="am-form-group">
        <label for="fvalue" class="am-u-sm-12 am-form-label am-text-left">fvalue            <span class="tpl-form-line-small-title">fvalue</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.fvalue)"}{$enewsmemberf.fvalue}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fvalue" name="fvalue" 
	placeholder="请输入fvalue">        </div>
    </div>
        <div class="am-form-group">
        <label for="fformsize" class="am-u-sm-12 am-form-label am-text-left">fformsize            <span class="tpl-form-line-small-title">fformsize</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsmemberf.fformsize)"}{$enewsmemberf.fformsize}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fformsize" name="fformsize" 
	placeholder="请输入fformsize">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}