{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewsf</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="fid" class="am-u-sm-12 am-form-label am-text-left">fid            <span class="tpl-form-line-small-title">fid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.fid)"}{$enewsf.fid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fid" name="fid" 
	placeholder="请输入fid">        </div>
    </div>
        <div class="am-form-group">
        <label for="f" class="am-u-sm-12 am-form-label am-text-left">f            <span class="tpl-form-line-small-title">f</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.f)"}{$enewsf.f}{/if}"
	class="tpl-form-input am-margin-top-xs" id="f" name="f" 
	placeholder="请输入f">        </div>
    </div>
        <div class="am-form-group">
        <label for="fname" class="am-u-sm-12 am-form-label am-text-left">fname            <span class="tpl-form-line-small-title">fname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.fname)"}{$enewsf.fname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fname" name="fname" 
	placeholder="请输入fname">        </div>
    </div>
        <div class="am-form-group">
        <label for="fform" class="am-u-sm-12 am-form-label am-text-left">fform            <span class="tpl-form-line-small-title">fform</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.fform)"}{$enewsf.fform}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fform" name="fform" 
	placeholder="请输入fform">        </div>
    </div>
        <div class="am-form-group">
        <label for="fhtml" class="am-u-sm-12 am-form-label am-text-left">fhtml            <span class="tpl-form-line-small-title">fhtml</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.fhtml)"}{$enewsf.fhtml}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fhtml" name="fhtml" 
	placeholder="请输入fhtml">        </div>
    </div>
        <div class="am-form-group">
        <label for="fzs" class="am-u-sm-12 am-form-label am-text-left">fzs            <span class="tpl-form-line-small-title">fzs</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.fzs)"}{$enewsf.fzs}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fzs" name="fzs" 
	placeholder="请输入fzs">        </div>
    </div>
        <div class="am-form-group">
        <label for="isadd" class="am-u-sm-12 am-form-label am-text-left">isadd            <span class="tpl-form-line-small-title">isadd</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.isadd)"}{$enewsf.isadd}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isadd" name="isadd" 
	placeholder="请输入isadd">        </div>
    </div>
        <div class="am-form-group">
        <label for="isshow" class="am-u-sm-12 am-form-label am-text-left">isshow            <span class="tpl-form-line-small-title">isshow</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.isshow)"}{$enewsf.isshow}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isshow" name="isshow" 
	placeholder="请输入isshow">        </div>
    </div>
        <div class="am-form-group">
        <label for="iscj" class="am-u-sm-12 am-form-label am-text-left">iscj            <span class="tpl-form-line-small-title">iscj</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.iscj)"}{$enewsf.iscj}{/if}"
	class="tpl-form-input am-margin-top-xs" id="iscj" name="iscj" 
	placeholder="请输入iscj">        </div>
    </div>
        <div class="am-form-group">
        <label for="cjhtml" class="am-u-sm-12 am-form-label am-text-left">cjhtml            <span class="tpl-form-line-small-title">cjhtml</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.cjhtml)"}{$enewsf.cjhtml}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cjhtml" name="cjhtml" 
	placeholder="请输入cjhtml">        </div>
    </div>
        <div class="am-form-group">
        <label for="myorder" class="am-u-sm-12 am-form-label am-text-left">myorder            <span class="tpl-form-line-small-title">myorder</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.myorder)"}{$enewsf.myorder}{/if}"
	class="tpl-form-input am-margin-top-xs" id="myorder" name="myorder" 
	placeholder="请输入myorder">        </div>
    </div>
        <div class="am-form-group">
        <label for="ftype" class="am-u-sm-12 am-form-label am-text-left">ftype            <span class="tpl-form-line-small-title">ftype</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.ftype)"}{$enewsf.ftype}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ftype" name="ftype" 
	placeholder="请输入ftype">        </div>
    </div>
        <div class="am-form-group">
        <label for="flen" class="am-u-sm-12 am-form-label am-text-left">flen            <span class="tpl-form-line-small-title">flen</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.flen)"}{$enewsf.flen}{/if}"
	class="tpl-form-input am-margin-top-xs" id="flen" name="flen" 
	placeholder="请输入flen">        </div>
    </div>
        <div class="am-form-group">
        <label for="dotemp" class="am-u-sm-12 am-form-label am-text-left">dotemp            <span class="tpl-form-line-small-title">dotemp</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.dotemp)"}{$enewsf.dotemp}{/if}"
	class="tpl-form-input am-margin-top-xs" id="dotemp" name="dotemp" 
	placeholder="请输入dotemp">        </div>
    </div>
        <div class="am-form-group">
        <label for="tid" class="am-u-sm-12 am-form-label am-text-left">tid            <span class="tpl-form-line-small-title">tid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.tid)"}{$enewsf.tid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tid" name="tid" 
	placeholder="请输入tid">        </div>
    </div>
        <div class="am-form-group">
        <label for="tbname" class="am-u-sm-12 am-form-label am-text-left">tbname            <span class="tpl-form-line-small-title">tbname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.tbname)"}{$enewsf.tbname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tbname" name="tbname" 
	placeholder="请输入tbname">        </div>
    </div>
        <div class="am-form-group">
        <label for="savetxt" class="am-u-sm-12 am-form-label am-text-left">savetxt            <span class="tpl-form-line-small-title">savetxt</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.savetxt)"}{$enewsf.savetxt}{/if}"
	class="tpl-form-input am-margin-top-xs" id="savetxt" name="savetxt" 
	placeholder="请输入savetxt">        </div>
    </div>
        <div class="am-form-group">
        <label for="fvalue" class="am-u-sm-12 am-form-label am-text-left">fvalue            <span class="tpl-form-line-small-title">fvalue</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.fvalue)"}{$enewsf.fvalue}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fvalue" name="fvalue" 
	placeholder="请输入fvalue">        </div>
    </div>
        <div class="am-form-group">
        <label for="iskey" class="am-u-sm-12 am-form-label am-text-left">iskey            <span class="tpl-form-line-small-title">iskey</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.iskey)"}{$enewsf.iskey}{/if}"
	class="tpl-form-input am-margin-top-xs" id="iskey" name="iskey" 
	placeholder="请输入iskey">        </div>
    </div>
        <div class="am-form-group">
        <label for="tobr" class="am-u-sm-12 am-form-label am-text-left">tobr            <span class="tpl-form-line-small-title">tobr</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.tobr)"}{$enewsf.tobr}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tobr" name="tobr" 
	placeholder="请输入tobr">        </div>
    </div>
        <div class="am-form-group">
        <label for="dohtml" class="am-u-sm-12 am-form-label am-text-left">dohtml            <span class="tpl-form-line-small-title">dohtml</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.dohtml)"}{$enewsf.dohtml}{/if}"
	class="tpl-form-input am-margin-top-xs" id="dohtml" name="dohtml" 
	placeholder="请输入dohtml">        </div>
    </div>
        <div class="am-form-group">
        <label for="qfhtml" class="am-u-sm-12 am-form-label am-text-left">qfhtml            <span class="tpl-form-line-small-title">qfhtml</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.qfhtml)"}{$enewsf.qfhtml}{/if}"
	class="tpl-form-input am-margin-top-xs" id="qfhtml" name="qfhtml" 
	placeholder="请输入qfhtml">        </div>
    </div>
        <div class="am-form-group">
        <label for="isonly" class="am-u-sm-12 am-form-label am-text-left">isonly            <span class="tpl-form-line-small-title">isonly</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.isonly)"}{$enewsf.isonly}{/if}"
	class="tpl-form-input am-margin-top-xs" id="isonly" name="isonly" 
	placeholder="请输入isonly">        </div>
    </div>
        <div class="am-form-group">
        <label for="linkfieldval" class="am-u-sm-12 am-form-label am-text-left">linkfieldval            <span class="tpl-form-line-small-title">linkfieldval</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.linkfieldval)"}{$enewsf.linkfieldval}{/if}"
	class="tpl-form-input am-margin-top-xs" id="linkfieldval" name="linkfieldval" 
	placeholder="请输入linkfieldval">        </div>
    </div>
        <div class="am-form-group">
        <label for="samedata" class="am-u-sm-12 am-form-label am-text-left">samedata            <span class="tpl-form-line-small-title">samedata</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.samedata)"}{$enewsf.samedata}{/if}"
	class="tpl-form-input am-margin-top-xs" id="samedata" name="samedata" 
	placeholder="请输入samedata">        </div>
    </div>
        <div class="am-form-group">
        <label for="fformsize" class="am-u-sm-12 am-form-label am-text-left">fformsize            <span class="tpl-form-line-small-title">fformsize</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.fformsize)"}{$enewsf.fformsize}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fformsize" name="fformsize" 
	placeholder="请输入fformsize">        </div>
    </div>
        <div class="am-form-group">
        <label for="tbdataf" class="am-u-sm-12 am-form-label am-text-left">tbdataf            <span class="tpl-form-line-small-title">tbdataf</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.tbdataf)"}{$enewsf.tbdataf}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tbdataf" name="tbdataf" 
	placeholder="请输入tbdataf">        </div>
    </div>
        <div class="am-form-group">
        <label for="ispage" class="am-u-sm-12 am-form-label am-text-left">ispage            <span class="tpl-form-line-small-title">ispage</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.ispage)"}{$enewsf.ispage}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ispage" name="ispage" 
	placeholder="请输入ispage">        </div>
    </div>
        <div class="am-form-group">
        <label for="adddofun" class="am-u-sm-12 am-form-label am-text-left">adddofun            <span class="tpl-form-line-small-title">adddofun</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.adddofun)"}{$enewsf.adddofun}{/if}"
	class="tpl-form-input am-margin-top-xs" id="adddofun" name="adddofun" 
	placeholder="请输入adddofun">        </div>
    </div>
        <div class="am-form-group">
        <label for="editdofun" class="am-u-sm-12 am-form-label am-text-left">editdofun            <span class="tpl-form-line-small-title">editdofun</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.editdofun)"}{$enewsf.editdofun}{/if}"
	class="tpl-form-input am-margin-top-xs" id="editdofun" name="editdofun" 
	placeholder="请输入editdofun">        </div>
    </div>
        <div class="am-form-group">
        <label for="qadddofun" class="am-u-sm-12 am-form-label am-text-left">qadddofun            <span class="tpl-form-line-small-title">qadddofun</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.qadddofun)"}{$enewsf.qadddofun}{/if}"
	class="tpl-form-input am-margin-top-xs" id="qadddofun" name="qadddofun" 
	placeholder="请输入qadddofun">        </div>
    </div>
        <div class="am-form-group">
        <label for="qeditdofun" class="am-u-sm-12 am-form-label am-text-left">qeditdofun            <span class="tpl-form-line-small-title">qeditdofun</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.qeditdofun)"}{$enewsf.qeditdofun}{/if}"
	class="tpl-form-input am-margin-top-xs" id="qeditdofun" name="qeditdofun" 
	placeholder="请输入qeditdofun">        </div>
    </div>
        <div class="am-form-group">
        <label for="linkfieldtb" class="am-u-sm-12 am-form-label am-text-left">linkfieldtb            <span class="tpl-form-line-small-title">linkfieldtb</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.linkfieldtb)"}{$enewsf.linkfieldtb}{/if}"
	class="tpl-form-input am-margin-top-xs" id="linkfieldtb" name="linkfieldtb" 
	placeholder="请输入linkfieldtb">        </div>
    </div>
        <div class="am-form-group">
        <label for="linkfieldshow" class="am-u-sm-12 am-form-label am-text-left">linkfieldshow            <span class="tpl-form-line-small-title">linkfieldshow</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.linkfieldshow)"}{$enewsf.linkfieldshow}{/if}"
	class="tpl-form-input am-margin-top-xs" id="linkfieldshow" name="linkfieldshow" 
	placeholder="请输入linkfieldshow">        </div>
    </div>
        <div class="am-form-group">
        <label for="editorys" class="am-u-sm-12 am-form-label am-text-left">editorys            <span class="tpl-form-line-small-title">editorys</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.editorys)"}{$enewsf.editorys}{/if}"
	class="tpl-form-input am-margin-top-xs" id="editorys" name="editorys" 
	placeholder="请输入editorys">        </div>
    </div>
        <div class="am-form-group">
        <label for="issmalltext" class="am-u-sm-12 am-form-label am-text-left">issmalltext            <span class="tpl-form-line-small-title">issmalltext</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.issmalltext)"}{$enewsf.issmalltext}{/if}"
	class="tpl-form-input am-margin-top-xs" id="issmalltext" name="issmalltext" 
	placeholder="请输入issmalltext">        </div>
    </div>
        <div class="am-form-group">
        <label for="fmvnum" class="am-u-sm-12 am-form-label am-text-left">fmvnum            <span class="tpl-form-line-small-title">fmvnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewsf.fmvnum)"}{$enewsf.fmvnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="fmvnum" name="fmvnum" 
	placeholder="请输入fmvnum">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}