{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">新建nj_enewszttype</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="cid" class="am-u-sm-12 am-form-label am-text-left">cid            <span class="tpl-form-line-small-title">cid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.cid)"}{$enewszttype.cid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cid" name="cid" 
	placeholder="请输入cid">        </div>
    </div>
        <div class="am-form-group">
        <label for="ztid" class="am-u-sm-12 am-form-label am-text-left">ztid            <span class="tpl-form-line-small-title">ztid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.ztid)"}{$enewszttype.ztid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ztid" name="ztid" 
	placeholder="请输入ztid">        </div>
    </div>
        <div class="am-form-group">
        <label for="cname" class="am-u-sm-12 am-form-label am-text-left">cname            <span class="tpl-form-line-small-title">cname</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.cname)"}{$enewszttype.cname}{/if}"
	class="tpl-form-input am-margin-top-xs" id="cname" name="cname" 
	placeholder="请输入cname">        </div>
    </div>
        <div class="am-form-group">
        <label for="myorder" class="am-u-sm-12 am-form-label am-text-left">myorder            <span class="tpl-form-line-small-title">myorder</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.myorder)"}{$enewszttype.myorder}{/if}"
	class="tpl-form-input am-margin-top-xs" id="myorder" name="myorder" 
	placeholder="请输入myorder">        </div>
    </div>
        <div class="am-form-group">
        <label for="islist" class="am-u-sm-12 am-form-label am-text-left">islist            <span class="tpl-form-line-small-title">islist</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.islist)"}{$enewszttype.islist}{/if}"
	class="tpl-form-input am-margin-top-xs" id="islist" name="islist" 
	placeholder="请输入islist">        </div>
    </div>
        <div class="am-form-group">
        <label for="listtempid" class="am-u-sm-12 am-form-label am-text-left">listtempid            <span class="tpl-form-line-small-title">listtempid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.listtempid)"}{$enewszttype.listtempid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="listtempid" name="listtempid" 
	placeholder="请输入listtempid">        </div>
    </div>
        <div class="am-form-group">
        <label for="maxnum" class="am-u-sm-12 am-form-label am-text-left">maxnum            <span class="tpl-form-line-small-title">maxnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.maxnum)"}{$enewszttype.maxnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="maxnum" name="maxnum" 
	placeholder="请输入maxnum">        </div>
    </div>
        <div class="am-form-group">
        <label for="tnum" class="am-u-sm-12 am-form-label am-text-left">tnum            <span class="tpl-form-line-small-title">tnum</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.tnum)"}{$enewszttype.tnum}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tnum" name="tnum" 
	placeholder="请输入tnum">        </div>
    </div>
        <div class="am-form-group">
        <label for="reorder" class="am-u-sm-12 am-form-label am-text-left">reorder            <span class="tpl-form-line-small-title">reorder</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.reorder)"}{$enewszttype.reorder}{/if}"
	class="tpl-form-input am-margin-top-xs" id="reorder" name="reorder" 
	placeholder="请输入reorder">        </div>
    </div>
        <div class="am-form-group">
        <label for="ttype" class="am-u-sm-12 am-form-label am-text-left">ttype            <span class="tpl-form-line-small-title">ttype</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.ttype)"}{$enewszttype.ttype}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ttype" name="ttype" 
	placeholder="请输入ttype">        </div>
    </div>
        <div class="am-form-group">
        <label for="endtime" class="am-u-sm-12 am-form-label am-text-left">endtime            <span class="tpl-form-line-small-title">endtime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.endtime)"}{$enewszttype.endtime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="endtime" name="endtime" 
	placeholder="请输入endtime">        </div>
    </div>
        <div class="am-form-group">
        <label for="tfile" class="am-u-sm-12 am-form-label am-text-left">tfile            <span class="tpl-form-line-small-title">tfile</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewszttype.tfile)"}{$enewszttype.tfile}{/if}"
	class="tpl-form-input am-margin-top-xs" id="tfile" name="tfile" 
	placeholder="请输入tfile">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}