{extend name="layout" /}
{block name="content"}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">编辑nj_enewslog</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body am-fr">
                        <form class="am-form tpl-form-border-form" method="post">
        <div class="am-form-group">
        <label for="loginid" class="am-u-sm-12 am-form-label am-text-left">loginid            <span class="tpl-form-line-small-title">loginid</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewslog.loginid)"}{$enewslog.loginid}{/if}"
	class="tpl-form-input am-margin-top-xs" id="loginid" name="loginid" 
	placeholder="请输入loginid">        </div>
    </div>
        <div class="am-form-group">
        <label for="username" class="am-u-sm-12 am-form-label am-text-left">username            <span class="tpl-form-line-small-title">username</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewslog.username)"}{$enewslog.username}{/if}"
	class="tpl-form-input am-margin-top-xs" id="username" name="username" 
	placeholder="请输入username">        </div>
    </div>
        <div class="am-form-group">
        <label for="logintime" class="am-u-sm-12 am-form-label am-text-left">logintime            <span class="tpl-form-line-small-title">logintime</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewslog.logintime)"}{$enewslog.logintime}{/if}"
	class="tpl-form-input am-margin-top-xs" id="logintime" name="logintime" 
	placeholder="请输入logintime">        </div>
    </div>
        <div class="am-form-group">
        <label for="loginip" class="am-u-sm-12 am-form-label am-text-left">loginip            <span class="tpl-form-line-small-title">loginip</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewslog.loginip)"}{$enewslog.loginip}{/if}"
	class="tpl-form-input am-margin-top-xs" id="loginip" name="loginip" 
	placeholder="请输入loginip">        </div>
    </div>
        <div class="am-form-group">
        <label for="status" class="am-u-sm-12 am-form-label am-text-left">status            <span class="tpl-form-line-small-title">status</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewslog.status)"}{$enewslog.status}{/if}"
	class="tpl-form-input am-margin-top-xs" id="status" name="status" 
	placeholder="请输入status">        </div>
    </div>
        <div class="am-form-group">
        <label for="password" class="am-u-sm-12 am-form-label am-text-left">password            <span class="tpl-form-line-small-title">password</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewslog.password)"}{$enewslog.password}{/if}"
	class="tpl-form-input am-margin-top-xs" id="password" name="password" 
	placeholder="请输入password">        </div>
    </div>
        <div class="am-form-group">
        <label for="loginauth" class="am-u-sm-12 am-form-label am-text-left">loginauth            <span class="tpl-form-line-small-title">loginauth</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewslog.loginauth)"}{$enewslog.loginauth}{/if}"
	class="tpl-form-input am-margin-top-xs" id="loginauth" name="loginauth" 
	placeholder="请输入loginauth">        </div>
    </div>
        <div class="am-form-group">
        <label for="ipport" class="am-u-sm-12 am-form-label am-text-left">ipport            <span class="tpl-form-line-small-title">ipport</span></label>
        <div class="am-u-sm-12">
            <input type="text" 
	value="{if condition="isset($enewslog.ipport)"}{$enewslog.ipport}{/if}"
	class="tpl-form-input am-margin-top-xs" id="ipport" name="ipport" 
	placeholder="请输入ipport">        </div>
    </div>
        <div class="am-form-group">
        <div class="am-u-sm-12 am-u-sm-push-12">
            <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
        </div>
    </div>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}